<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>CollegeVibe</title>
  <meta name="description" content="CollegeVibe is your one-stop guide to the college town. Whether you're looking for information on the college or the town itself, we've got you covered!">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="favicon" href="assets/images/collegevibe-logo-white.png">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" type='text/css' href="styles/main.css">
</head>
<body>

  <div id="application"></div>

  <script type="text/template" id='login-view'>
    <% if (!Parse.User.current()) { %>
      <div class="login-container">
        <label>Email Address</label>
        <input placeholder="Enter your email" type='text'>
        <label>Password</label>
        <input placeholder="Enter your password" type='password'>
        <button>Log In</button>
        <p class="register-btn">Register an account?</p>
      </div>

      <div class="register-container">
        <label>Full Name</label>
        <input placeholder="Enter your full name" type='text'>
        <label>Email Address</label>
        <input placeholder="Enter your email" type='text'>
        <label>Enter password</label>
        <input placeholder="Password" type='password'>
        <label>Confirm your password</label>
        <input placeholder="Confirm Password" type='password'>
        <button>Sign Up</button>
        <p class="login-btn">Go back to login</p>
      </div>
    <% } else { %>
      <h1 style='font-size:20px'><%= Parse.User.current().get('name') %></h1>
    <% } %>
  </script>





  <!-- Index Route -->
  <script type='text/template' id='index-route'>
    <div class="banner-container">

      <div class="banner-slogan">
        <img src="assets/images/collegevibe-logo-green.png">
      </div>

      <div class="homepage-banner">
        <div class="search-box-partial"></div>
      </div>
    </div>
  </script>

  <script type="text/template" id='search-box-view'>
    <div class="search-container">
      <i class="fa fa-search search-span"></i>
      <input placeholder="College or University" type='text'>
      <li id="nav-toggle">
        <div id="nav-icon1">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </li>
      <div class="college-search search-dropdown"></div>
    </div>

  </script>

  <script type="text/template" id="school-dropdown-view">
    <a href="#schools/<%= attributes.schoolname.replace(/ /g, '-') %>"><%= attributes.schoolname %></a>
  </script>



  <script type="text/template" id="school-view">
    <header>
      <div class="header-container">
        <div class="header-banner">
          <div class="search-box-partial"></div>
        </div>
      </div>
    </header>

    <div class="school-body">

      <div class="school-left-col">

        <div class="school-heading">
          <img src="assets/images/clemson-logo.png">
          <h1>Clemson University</h1>
          <p>555 Sample Street, Clemson, SC 29601</p>
          <span class="fa fa-caret-down"></span>
        </div>
        <div class="school-options">
          <ul>
            <li><img src="assets/images/icon-chart.png">Statistics</li>
            <li><img src="assets/images/icon-restaurant.png"></span>Food and Drink</li>
            <li><img src="assets/images/icon-open.png">Hotels</li>
            <li><img src="assets/images/icon-comments.png">Sports</li>
            <li><img src="assets/images/icon-gallery.png">Gallery</li>
          </ul>
        </div>

        <div class="school-info">


          <div class="module-header status-header">
            <img src="images/icon-gallery.png">
            <p>Gallery</p>
          </div>

          <div class="school-instagram-gallery">
            <ul>
              <li><img src="assets/images/campus-1.jpg"></li>
              <li><img src="assets/images/campus-2.jpg"></li>
              <li><img src="assets/images/campus-3.jpg"></li>
              <li><img src="assets/images/campus-1.jpg"></li>
            </ul>
          </div>

          <div class="view-all-dark">
            <a>View All</a>
          </div>

          <div class="module-header status-header">
            <img src="images/icon-restaurant.png">
            <p>Food and Drink</p>
          </div>

          <div class="school-food">
            <ul>
              <li>
                <span class="fa fa-angle-right"></span>
                <div class="food-name">
                  <h1>Loose Change</h1>
                  <p>555 Clemson Avenue</p>
                </div>
                <div class="food-radius">
                  <p>1.2 miles away</p>
                </div>
              </li>

              <li>
                <span class="fa fa-angle-right"></span>
                <div class="food-name">
                  <h1>356 Sushi</h1>
                  <p>356 Clemson Avenue</p>
                </div>
                <div class="food-radius">
                  <p>.8 miles away</p>
                </div>
              </li>

              <li>
                <span class="fa fa-angle-right"></span>
                <div class="food-name">
                  <h1>The Esso Club</h1>
                  <p>2123 Highway 93</p>
                </div>
                <div class="food-radius">
                  <p>.2 miles away</p>
                </div>
              </li>

            </ul>
          </div>

          <div class="view-all">
            <a>View All</a>
          </div>

        </div>
      </div>

      <div class="school-right-col">

        <div class="module-header status-header">
          <img src="images/icon-open.png">
          <p>Hotels</p>
        </div>

        <div class="school-hotel">
          <ul>
            <li>
              <span class="fa fa-angle-right"></span>
              <div class="hotel-name">
                <h1>Ramada at Clemson</h1>
                <p>555 Clemson Avenue</p>
              </div>
              <div class="hotel-radius">
                <p>1.2 miles away</p>
              </div>
            </li>

            <li>
              <span class="fa fa-angle-right"></span>
              <div class="hotel-name">
                <h1>The Hilton</h1>
                <p>356 Clemson Avenue</p>
              </div>
              <div class="hotel-radius">
                <p>.8 miles away</p>
              </div>
            </li>

            <li>
              <span class="fa fa-angle-right"></span>
              <div class="hotel-name">
                <h1>Holiday Inn</h1>
                <p>2123 Highway 93</p>
              </div>
              <div class="hotel-radius">
                <p>.2 miles away</p>
              </div>
            </li>

          </ul>
        </div>

        <div class="view-all">
          <a>View All</a>
        </div>

        <div class="module-header status-header">
          <img src="images/icon-chart.png">
          <p>Football Schedule</p>
        </div>

        <div class="sports-schedule">
          <ul>
            <li><h1>Sept 2</h1><p>Wofford</p><span>12:30 pm</span></li>
            <li><h1>Sept 2</h1><p>Wofford</p><span>12:30 pm</span></li>
            <li><h1>Sept 2</h1><p>Wofford</p><span>12:30 pm</span></li>
            <li><h1>Sept 2</h1><p>Wofford</p><span>12:30 pm</span></li>
            <li><h1>Sept 2</h1><p>Wofford</p><span>12:30 pm</span></li>
            <li><h1>Sept 2</h1><p>Wofford</p><span>12:30 pm</span></li>
            <li><h1>Sept 2</h1><p>Wofford</p><span>12:30 pm</span></li>
            <li><h1>Sept 2</h1><p>Wofford</p><span>12:30 pm</span></li>
            <li><h1>Sept 2</h1><p>Wofford</p><span>12:30 pm</span></li>
          </ul>
        </div>

      </div>

    </div>

  </script>

    <script type="text/template" id="profile-view">
    <header>
      <div class="header-container">
        <div class="header-banner">
          <div class="search-container">
            <i class="fa fa-search search-span"></i>
            <input placeholder="College or University" type='text'>
            <li id="nav-toggle">
              <div id="nav-icon1">
                <span></span>
                <span></span>
                <span></span>
              </div>
            </li>
            <div class="college-search search-dropdown"></div>
          </div>
        </div>
      </div>
    </header>

    <div class="profile-body">

      <div class="profile-left-col">
        <div class="profile-heading">
          <img src="assets/images/collegevibe-logo-green.png">
          <h1>Kevin Ruck</h1>
          <p>Prospective Student</p>

        </div>
        <div class="profile-info">
          <span class="fa fa-caret-up"></span>

          <div class="profile-info-evenrow">
          </div>

        </div>
      </div>

      <div class="profile-right-col">
      </div>

    </div>

  </script>


  <script type="text/template" id="map-school-view">
    <!-- Didn't want to touch the CSS but need to remove anchor and pseudo
    classes of anchor tag colors off (a, a:visited, etc.)-->
    <a href="#schools/<%= id %>">
      <span><i class="fa fa-angle-right"></i></span>
      <%= attributes.schoolname %>
    </a>
  </script>

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.1/backbone-min.js'></script>

<script src='bower_components/chart.js/chart.js'></script>

<script src="http://www.parsecdn.com/js/parse-1.4.2.min.js"></script>
<script src='main.js'></script>
</body>
