@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,800,900,300italic,400italic);
@import url(http://fonts.googleapis.com/css?family=Lobster);

/* Colors */

$primary-color-light: #ECEFF1;
$primary-color-medium: #37474F;
$primary-color-dark: #263238;


$secondary-color-light: #ECEFF1;
$secondary-color-medium: #ECEFF1;
$secondary-color-dark: #ECEFF1;

$text-color: #ECEFF1;




/* Global Variables */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
	font-size:0;
}

a {
	text-decoration: none;
}

body {
	background:#CFD8DC;
	z-index: 1;
	position: relative;
}

.body-container {
	width: 100%;
	position: relative;
	background: $primary-color-light;
	z-index: 1;
}


/* HEADER */

header {
	width: 100%;
	height: 80px;
	padding-top:20px;
	/*background: $primary-color-medium;*/

	ul {
		list-style: none;
		padding-left: 0;
	}

	li {
		display: inline-block;
		vertical-align: top;
	}

	img {
		width: 50px;
		height: 50px;
		display: inline-block;
	}

/*	h1 {
		color: $primary-color-light;
		font-size: 30px;
		font-weight: 300;
		padding-top: 5px;
		padding-left: 2px;
		display: inline-block;
		vertical-align: top;
	}
	p {
		color: $primary-color-light;
		font-size: 14px;
		font-weight: 100;
		display: block;
		vertical-align: top;
		padding-left: 54px;
		margin-top: -6px;
	}*/
}

.header-wrap {
	width: 100%;
	position: absolute;
	top: 0;
	z-index: 100;
}

.header-top {
	width: 960px;
	height: 50px;
	margin: 0 auto;
}

.header-top-left {
	display: inline-block;

	img {
		width: 40px; 
		height: auto;
		display: inline-block;
		vertical-align: top;
	}

	h1 {
		font-family: 'Lobster', cursive;
		font-size: 28px;
		color: $primary-color-medium;
		display: inline-block;
		vertical-align: top;
		padding-left: 5px;
		padding-top:2px;
	}


}

.header-top-right {

	display: inline-block;
	vertical-align: top;
	float: right;
	text-align:right;

	ul {
		list-style: none;
		padding-left: 0;
	}

	li {
		display: inline-block;
		vertical-align: top;
		width: 40px;
		text-align: center;
	}

	span {
		font-size: 24px;
		color: $primary-color-medium;
	}

	p {
		font-size: 14px;
		font-weight: 300;
		color: $primary-color-medium;
		display: block;
		vertical-align: top;
	}

	h1 {
		font-size: 14px;
		color: $primary-color-medium;
		display: block;
		vertical-align: top;

	}
}

.header-container {
	width: 960px;
	height: 60px;
	margin: 0 auto;
	position: relative;
}

.logo {
	background: url('assets/images/logo_white_background.svg');
	background-size: contain;
	width: 210px;
	height: 30px;
	display: inline-block;
}

/* Animated Hamburger Toggle */

/* Icon 1 */

#nav-toggle {
	display: inline-block;
	vertical-align: top;
	/* float: right; */
	width: 15%;
	height: 60px;
	cursor: pointer;
	/* padding-top: 19px; */
	/* margin-top: -15px; */
	position: relative;
}

#nav-icon1 {
	width: 15%;
	height: 42px;
	position: absolute;
	display: inline-block;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;
	margin-left: -50px;
	margin-top: 20px;
}

#nav-icon1 span {
  display: block;
  position: absolute;
  height: 4px;
  width: 25px;
  background: $primary-color-light;
  border-radius: 1px;
  opacity: 1;
  left: 10px;
  top:10px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
  top: 0px;
}

#nav-icon1 span:nth-child(2) {
  top: 9px;
}

#nav-icon1 span:nth-child(3) {
  top: 18px;
}

#nav-icon1.open span {
	background:#F44336;
}

#nav-icon1.open span:nth-child(1) {
  top: 9px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-icon1.open span:nth-child(3) {
  top: 9px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}


.login-slideout-btn {
	color:$primary-color-light;
	background: #455A64;
}

.toggle-slideout-dark {
	color:#263238;
	background:#CFD8DC;
}


.header-buttons {
	position: fixed;
	top: 0;
	background: transparent;
	text-align: right;
	width: 100%;
	margin: 0 auto;
	z-index: 100;
	top: 20px;
	padding-right:20px;
}

/*Changed the header-login and header-button to the same class*/

.header-button {
	display: inline-block;
	width: 80px;
	height: 30px;
	border-radius: 3px;
	background: rgba(255,255,255, .2);
	color:#fff;
	text-align: center;
	font-size: 10px;
	font-weight: normal;
	padding-top: 9px;
	text-decoration: none;
	vertical-align: top;
	cursor:pointer;
}

/*This just provides the .1 more opacity to the register link*/
.header-highlighted {
	background: rgba(255,255,255,.3);
}

.header-register a,
.header-login a {
	text-decoration: none;
}

.register-button {
	text-decoration: none;
	color: #FFF;
	margin-top: 10px;
	text-shadow: 1px 1px 7px #263238;
	font-size: 12px;
	font-weight: lighter;
}


/* HOMEPAGE BANNER */

.header-search-wrap {
	background: transparent;
	background-size: cover;
	width: 100%;
	height: 0;
	margin: 0 auto;
	z-index: 400;
	position: fixed;
}

.homepage-right, 
.header-right {
	width: 350px;
	margin: 0 auto;
	position: relative;
	display: inline-block;
	vertical-align: top;
}

.header-left {
	width: 600px;
	height: 60px;
	display: inline-block;
	vertical-align: top;
	background: $primary-color-medium;
	margin-right: 10px;
}

.header-banner {
	position: absolute;
  	right: 0;
  	top: 0px;
}

.homepage-banner {
	width: 360px;
	margin: 0 auto;
	position:relative;
}

.search-container {
	position: absolute;
	width: 100%;
	margin: 0 auto;
	text-align: right;
	display: inline-block;
	vertical-align: top;
	background:#37474F;
	left: 0;

	i {
		width: 15%;
		height: 60px;
		color: $primary-color-light;
		background: #455A64;
		padding-top: 21px;
		text-align: center;
		font-size: 16px;
		display: inline-block;
		transition: 250ms;
	}

	input {
		width: 70%;
		height: 60px;
		padding: 15px 0;
		background: transparent;
		color: $primary-color-light;
		font-size: 18px;
		border: 0;
		outline: 0;
		display: inline-block;
		transition: 250ms;
		font-weight: 300;
		text-indent: 15px;
		/*border-left: 1px solid #546E7A;*/
		vertical-align:top;
	}

	input::-webkit-input-placeholder {
		color: #B0BEC5;
	}

	li {
		display: inline-block;
		width: 15%;
		vertical-align: top;
	}
}

/* Search Dropdown */

.search-dropdown {
	width: 380px;
	left:0;
}


.search-span {
	background:#fff;
	color:#263238;
}

.banner-container {
	width: 100%;
	position:relative;
	margin: 0 auto;
	top:150px;
	text-align: center;

	img {
		margin-bottom: 0px;
	}
}

.banner-slogan {
	width: 400px;
	margin: 0 auto;
	text-align:center;
	padding-bottom: 15px;

	p {
		font-size:18px;
		line-height: 30px;
		font-weight: 100;
		color: $primary-color-light;
		display: block;
		vertical-align: top;
	}

	h1 {
		font-size: 28px;
		font-weight: 300;
		font-style: italic;
		color:$primary-color-light;
		display: block;
		vertical-align: top;
		padding-bottom: 15px;
		padding-top:0px;
	}

	img {
		display: block;
		width: 150px;
		height: 150px;
		vertical-align: top;
		margin: 0 auto;
		margin-bottom: 25px;
	}
}

.banner-logo {
	width: 75px;
	height: 75px;
	border-radius: 58px;
	background: #57ad8b;
	padding-top: 11px;
	text-align: center;
	margin: 0 auto;
}


/*
  Set the color of the icon
*/
svg path,
svg rect{
  fill: #263238;
}

.banner-footer {
	width: 100%;
	height: 10px;
	position: absolute;
	bottom: 0;
	left: 0;
	background: #455A64;
	text-align: center;

	span {
		color: #455A64;
		font-size: 48px;
		margin-top: -31px;
	}
}

/* SEARCH CONTAINER */

.college-search {
	height: auto;
	width: 100%;
	background: $primary-color-light;
	font-weight: 300;
	transition: 250ms;
	z-index: 800;
	position:absolute;
	right: 0;
	top:60px;

	div a {
		font-size: 16px;
		color:#263238;
	}

	div {
		padding:20px 15px;
		border-bottom: 1px solid #CFD8DC;
  		border-top: 1px solid #fff;
  		text-align: left;

  		&:hover {
  			background:#CFD8DC;
  			border-top:1px solid #CFD8DC;
  		}
	}

	p span {
		position:absolute;
		padding:0;
		height:auto;
		width: auto;
	}
}

/* Login Container */

.slideout-container {
	right:-350px;
	width:350px;
	position:fixed;
	height:100vh;
	background:$primary-color-light;
	z-index:700;
	transition: 250ms;
	padding-top:30px;
	top:0;
}

.toggle-slideout {
	right:0;
}



.login-container {
	width: 100%;
	margin: 0 auto;
	padding: 30px;
	position: absolute;
	right: 0;
	transition:250ms;

	input {
		height: 45px;
		width: 100%;
		margin-bottom: 10px;
		margin-top: 5px;
		background: #FFF; 
		border: 1px solid #dfdfdf;
		outline: 0;
		font-size: 16px;
		font-weight: 300;
		text-indent: 15px;
		border-radius: 3px;
	}

	button {
		background: #EF5350;
		height: 35px;
		width: 30%;
		border: 0;
		outline: 0;
		font-size: 14px;
		color: #ECEFF1;
		border-radius: 3px;
		float: right;
		font-weight: 300;
	}

	label {
		font-size: 16px;
		text-align:left;
	}
}

.close-login {
	right:-350px;
}



.register-container {
	width: 100%;
	margin: 0 auto;
	padding: 30px;
	position: absolute;
	right: -350px;
	transition:250ms;

	input {
		height: 45px;
		width: 100%;
		margin-bottom: 10px;
		margin-top:5px;
		background: #FFF; 
		border: 1px solid #dfdfdf;
		outline: 0;
		font-size: 16px;
		font-weight: 300;
		text-indent: 15px;
		border-radius: 3px;
	}

	button {
		background: #EF5350;
		height: 45px;
		width: 100%;
		border: 0;
		outline: 0;
		font-size: 16px;
		color:$primary-color-light;
		border-radius:3px;
	}

	label {
		font-size: 16px;
		text-align:left;
	}

}

.open-register {
	right:0;
}

.register-btn, 
.login-btn {
	font-size:14px;
	padding-top:10px;
	font-weight:300;
}

.input-label {
	width: 300px;
	text-align: left;
	margin: 0 auto;
	display: block;
	margin-top: 10px;
	font-size: 12px;
	color: #fff;
	text-shadow: 1px 1px 9px #263238;
}

.select-user-type {
	display:block;
	margin: 0 auto;
    width: 300px;
    height: 45px;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-overflow: '';
    background: transparent;
    position: relative;
    z-index: 20;
    text-align: center;
    border: none;
    background: $primary-color-light;
    border-radius: 0;
    font-size: 16px;
    color: #263238;
    text-indent: 15px;
    margin-top: 4px;
}

.select-user-type:focus {
    outline: 0;
    border: 0;
}


/* Animated Hamburger Toggle */

/*#nav-toggle { position: absolute; left: 50%; top: 50%; }

#nav-toggle { 
	cursor: pointer;
	margin-left: -13px;
	margin-top: 0px;
}
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 3px;
  width: 25px;
  background: white;
  position: absolute;
  display: block;
  content: '';
}
#nav-toggle span:before {
  top: -10px; 
}
#nav-toggle span:after {
  bottom: -10px;
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  transition: all 250ms ease-in-out;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}
*/

/* Home Sidebar */

.home-sidebar {
	position: fixed;
	width: 300px;
	height: 100%;
	background: rgba(0,0,0,.8);
	left: -300px;
	top: 0;
	z-index:100;
	transition:250ms;
}

.home-sidebar-open {
	position: fixed;
	top: 15px;
	padding-left: 8px;
	padding-top: 4px;
	color: #4EAE8F;
	font-size: 28px;
	z-index: 101;
	width: 40px;
	height: 40px;
	background: rgba(255,255,255,.1);
	margin-left: 15px;
	border-radius: 5px;
}

.home-sidebar-close {
	position: fixed;
	top: 15px;
	padding-left: 8px;
	padding-top: 4px;
	color: #4EAE8F;
	font-size: 28px;
	z-index: 101;
	width: 40px;
	height: 40px;
	background: rgba(255,255,255,.1);
	margin-left: 15px;
	border-radius: 5px;
}

.open-sidebar {
	left:0;
}

.hidden {
	display: none;
}

/*Homepage Gallery*/

.homepage-gallery {
	width: 960px;
	margin: 0 auto;
	padding-top:150px;


	ul{
		list-style:none;
		padding-left: 0;
	}

	li {
		display: inline-block;
		width: 270px;
		height: 200px;
		background: #fff;
	}

	li img {
		width: auto;
		height: 200px;
	}

	li:nth-child(4n) {
		margin-right:0;
	}


}

.gallery-thumbnail {
	width: 100%;
	height: auto;
	overflow: hidden;
}

.gallery-image {
	height: 300px;
	width: auto;
}

.image-info {
	padding-top:15px;

	p {
		font-size: 12px;
		color:#333;
	}
}

.image-uploadedby {
	font-size: 12px;
	color: #555;
	display: inline-block;
}

.image-uploadedby span {
	font-size: 12px;
	font-weight: bold;
	color: #333;
}

.image-uploadedwhen {
	font-size: 12px;
	color: #999;
	display: inline-block;
	float: right;
}

.image-likecount {
	color: #555;
	padding-top:5px;
	display: inline-block;
}

.image-rating {
	padding-top: 5px;
}

/* Profile and School Templates */

.profile-body, 
.school-body {
	width: 960px;
	margin: 0 auto;
	position: relative;
	top: 60px;
	margin-bottom: 50px;
}

.profile-right-col, 
.school-right-col {
	display: inline-block;
	width: 350px;
	position: relative;
	vertical-align: top;
}

.profile-small-col, 
.school-small-col {
	display: inline-block;
	width: 240px;
	position: relative;
	vertical-align: top;
	background:#fff;
	margin-right:10px;
}

.featured-image {
	width: 100%;
	height: 200px;
	overflow: hidden;
	border:0px solid $primary-color-medium;

	img {
		height: 100%;
	}
}



.profile-left-col, 
.school-left-col {
	display: inline-block;
	width: 600px;
	background: transparent;
	vertical-align: top;
	margin-right: 10px;
	margin-top: -70px;
}


.profile-info-evenrow, 
.profile-info-oddrow, 
.school-info-evenrow, 
.school-info-oddrow {
	background:$primary-color-light;
	width: 100%;
	height: 500px;
	position:relative;
}

.profile-heading {

	width: 100%;
	padding: 25px 30px 6px;
  	background:#37474F;
  	display: inline-block;
  	height:130px;

	img {
		width: 60px;
		height: 60px;
		display: inline-block;
		margin-top:12px;
	}

	h1 {
		color: $primary-color-light;
		font-size: 30px;
		font-weight: 300;
		padding-top: 14px;
		padding-left: 10px;
		display: inline-block;
		vertical-align: top;
	}

	p {
		color: $primary-color-light;
		font-size: 14px;
		font-weight: 300;
		display: block;
		vertical-align: top;
		padding-left: 72px;
		margin-top: -25px;
	}

}

.school-food, 
.school-hotel {
	width: 100%;
	background:$primary-color-light;


	ul {
		list-style: none;
		padding-left: 0;
		/*border-bottom: 1px solid #FFF;*/

	}

	li {
		display: inline-block;
		width: 100%;
		padding: 25px;
		border-bottom:1px solid #dfdfdf;
		border-top: 1px solid #fff;
	}

	span {
		width: 5%;
		text-align: center;
		font-size: 16px;
		display: inline-block;
		vertical-align: top;
		color: $primary-color-medium;
	}
}

.food-avatar, 
.hotel-avatar {
	display: inline-block;
	width: 40px;
	height: 40px;

	img {
		width: 100%;
		height: 40px;
	}
}

.food-name, 
.hotel-name {
	width: 60%;
	display: inline-block;
	vertical-align: top;
	padding-left:10px;

	h1 {
		font-size: 14px;
		color: $primary-color-dark;
	}

	p {
		font-size: 12px;
		font-style: italic;
		display: block;
		color: $primary-color-medium;
	}
}

.food-radius, 
.hotel-radius {
	width: 25%;
	display: inline-block;
	vertical-align: top;
	text-align: right;


	p {
		font-size: 12px;
		color:$primary-color-medium;
	}
}
/* School Instagram Gallery */

.school-instagram-gallery {

	background: $primary-color-medium;
	border-top: 1px solid #455A64;
	border-bottom: 1px solid $primary-color-dark;
	padding: 25px;

	li {
		width: 22%;
		height: 100px;
		display: inline-block;
		vertical-align: top;
		overflow: hidden;
		margin-right: 4%;
		background: #455A64;
		padding: 2px;
	}

	li:last-child {
		margin-right: 0;
	}

	img {
		width: 100%;
		height: 96px;
	} 

}

.school-heading {
	width: 100%;
  	background:#37474F;
  	display: inline-block;
  	height:130px;
  	border-bottom:1px solid $primary-color-dark;

	img {
		width: 100%;
		height: auto;
		display: inline-block;
	}

	h1 {
		color: $primary-color-light;
		font-size: 30px;
		font-weight: 300;
		padding-top: 14px;
		padding-left: 2px;
		display: inline-block;
		vertical-align: top;
	}

	p {
		color: $primary-color-light;
		font-size: 14px;
		font-weight: 300;
		display: block;
		vertical-align: top;
		padding-left: 114px;
		margin-top: -59px;
	}

	span {
		display:none;
	}
}

.school-options {
	width: 75%;
	background:$primary-color-dark;
	border-bottom:1px solid #455A64;
	margin-top:-70px;
	z-index: 1000;
	padding: 0 20px;

	li {
		width: 20%;
		display: inline-block;
		background: $primary-color-dark;
		color:$primary-color-light;
		font-size: 0px;
		text-align: center;
		padding: 10px 0;
		font-weight: 300;
		border-right: 1px solid #000;
		border-left: 1px solid $primary-color-medium;
/*		border-bottom: 1px solid #263238;
		border-top: 1px solid #455A64;*/
	}

	img {
		text-align: center;
		display: block;
		width: 30px;
		height: auto;
		margin: 0 auto;
		padding-bottom:5px;
	}

	li:last-child {
		border-right:0;
	}

	li:first-child {
		border-left:0;
	}

/*	li:nth-child(1), 
	li:nth-child(4) {
		border-left: 0;
	}

	li:nth-child(1), 
	li:nth-child(2),
	li:nth-child(3) {
		border-top:0;
	}

	li:nth-child(4), 
	li:nth-child(5),
	li:nth-child(6) {
		border-bottom:0;
	}

	li:nth-child(3n) {
		border-right: 0;
	}*/

	span {
		display: block;
		font-size:16px;
		padding-bottom:5px;
	}
}

.school-options-mobile {
	display: none;
}

.module-header {
	width: 100%;
	background: $primary-color-medium;
	padding:15px 15px ;
	border-bottom: 1px solid $primary-color-dark;
	margin-top: 10px;

	img {
		height: 25px;
		width: auto;
		margin-right:5px;
		display: inline-block;
		vertical-align: top;
	}

	p {
		color:$text-color;
		font-size: 16px;
		font-weight: 300;
		display: inline-block;
		vertical-align: top;
		padding-top:3px;
	}

	a {
		color:$secondary-color-light;
		font-size: 14px;
		text-decoration: none;
		float: right;
		padding-top:5px;
		font-weight: 300;
	}
}

.view-all {
	width: 100%;
	border-top:1px solid #fff;
	background:$primary-color-light;
	text-align: center;
	padding: 15px 0;
	margin-bottom: 25px;

	a {
		font-size: 16px; 
		color: $primary-color-dark;

		font-weight: 300;
		text-decoration: none;
	}
}

.view-all-dark {
	width: 100%;
	border-top:1px solid #455A64;
	background:$primary-color-medium;
	text-align: center;
	padding: 15px 0;
	margin-bottom: 25px;

	a {
		font-size: 16px; 
		color: $secondary-color-light;
		text-decoration: none;
		font-weight: 300;
	}
}

/* Sports Schedules */

.sports-schedule {
	width: 100%;
	color: $primary-color-dark;
	background: $primary-color-light;
	padding: 15px 0;

	ul {
		list-style: none;
		padding-left: 0;
	}

	li {
		width: 100%;
		padding: 10px 25px;
	}

	h1 {
		display: inline-block;
		width: 20%;
		vertical-align: top;
		font-weight: 300;
		font-size: 12px;

	}

	p {
		display: inline-block;
		width: 60%;
		vertical-align: top;
		font-weight: 500;
		font-size: 12px;

	}

	span {
		display: inline-block;
		width: 20%;
		vertical-align: top;
		font-style: italic;
		font-weight: 300;
		font-size: 12px;

	}


}

.school-ad {
	width: 100%;
	background: $primary-color-light;
	height: 100px;
	margin-top: 10px;
	text-align: center;

	p {
		font-size: 36px;
		text-align: center;
		color:#333;
	}

	span {
		font-size: 36px;
		color: $primary-color-light;
		position: relative;
		/* left: 0; */
		margin: 0 auto;
		top: 0;
		z-index: 1000000;
		/* vertical-align: bottom; */
		margin-top: -23px;
	}
	
}

.school-photos {
	width: 100%;
	position: relative;
	background:#263238;

	li {
		width: 100%;
		height: auto;
		/*background:#37474F;*/
		display: inline-block;
		/*padding:15px;*/
	}

	li:nth-child(3n) {
		border-right: 0;
	}
	img {
		width: 100%;
		height: auto;

	}
}

/* Footer */


/* Media Queries */

@media screen and (min-width : 350px) and (max-width : 500px) {
	.slideout-container {
		width: 100%;
		right:-100%;
	}

	.toggle-slideout {
		right: 0;
	}

	.register-container {
		width: 100%;
		right:-100%;
	}

	.open-register {
		right: 0;
	}

	.close-login {
		right:-100%;
	}

	.banner-container {
		width: 100%;
		background:#263238;
		height: 500px;
	}

	.banner-slogan img {
	}

	.section {
		height: auto !important;
	}

	/* Search Bar */

	header {
		padding-top:0;
		height: 60px;
	}

	.header-banner {
		width: 100%;
	}

	.homepage-banner {
		width: 90%;
	}

	.header-container {
		width: 100%;
		top: 0;
	}

	.header-search, 
	.homepage-search {
		width: 100%;
	}

	.header-search span, 
	.homepage-search span {
		width: 15%;
		right: 85%;
	}

	.header-search input, 
	.homepage-search input {
		width: 85%;
	}

	.header-toggle {
		width: 20%;

		li {
			width: 100%;
		}
	}

	/* Profile and School Template */

	.profile-body, 
	.school-body {
		width: 100%;
		margin-top: 50px;
	}

	.profile-left-col, 
	.school-left-col, 
	.school-right-col,
	.profile-right-col {
		display: block;
		width: 100%;
		margin-top:-40px;
	}

	.school-body {
		top: 0;
	}

	.school-options {
		li {
			font-size: 0;
		}
	}

	.school-options-mobile {
		display: block;
		margin-bottom:1px;
		background:#37474F;
		border-top: 1px solid #455A64;
		border-bottom: 1px solid #455A64;

		li {
			width:33.3333%;
/*			border-right: 1px solid #455A64;
			border-left: 1px solid #607D8B;
			border-bottom: 1px solid #455A64;
			border-top: 1px solid #607D8B;*/
		}
	}

	.school-heading {
  		padding: 29px 15px 6px;
  		background:#263238;
  		border-top:1px solid #455A64;

  		img {
  			width:60px;
  			height:60px;
  			text-align:left;
  		}

  		p {
  			padding-left: 64px;
  			margin-top: -20px;
  			color:$primary-color-light;
  			text-align:left;

  		}

  		h1 {
  			padding-top: 4px;
  			color:$primary-color-light;
  			text-align:left;

  		}

  		span {
			font-size: 36px;
			color: #263238;
			position: relative;
			display:block;
			z-index: 1000000;
			vertical-align: bottom;
			margin-bottom: -23px;
			padding-top: 15px;
			text-align:center;
			display:none;
  		}
	}
}
