@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,800,900,300italic,400italic);
/* Colors */
/* Global Variables */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-size: 0; }

a {
  text-decoration: none; }

body {
  background: #263238;
  z-index: 1;
  position: relative; }

.body-container {
  width: 100%;
  position: relative;
  background: #ECEFF1;
  z-index: 1; }

/* HEADER */
header {
  width: 100%;
  height: 80px;
  /*background: #263238;*/
  padding-top: 18px; }
  header ul {
    list-style: none;
    padding-left: 0; }
  header li {
    display: inline-block;
    vertical-align: top; }
  header img {
    width: 50px;
    height: 50px;
    display: inline-block; }
  header h1 {
    color: #ECEFF1;
    font-size: 30px;
    font-weight: 300;
    padding-top: 5px;
    padding-left: 2px;
    display: inline-block;
    vertical-align: top; }
  header p {
    color: #ECEFF1;
    font-size: 14px;
    font-weight: 100;
    display: block;
    vertical-align: top;
    padding-left: 54px;
    margin-top: -6px; }

.header-wrap {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 100; }

.header-container {
  width: 960px;
  margin: 0 auto;
  position: relative;
  top: 25px; }

.logo {
  background: url("assets/images/logo_white_background.svg");
  background-size: contain;
  width: 210px;
  height: 30px;
  display: inline-block; }

/* Animated Hamburger Toggle */
/* Icon 1 */
#nav-toggle {
  display: inline-block;
  vertical-align: top;
  /* float: right; */
  width: 15%;
  height: 60px;
  cursor: pointer;
  /* padding-top: 19px; */
  /* margin-top: -15px; */
  position: relative; }

#nav-icon1 {
  width: 15%;
  height: 42px;
  position: absolute;
  display: inline-block;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  margin-left: -50px;
  margin-top: 20px; }

#nav-icon1 span {
  display: block;
  position: absolute;
  height: 4px;
  width: 25px;
  background: #ECEFF1;
  border-radius: 1px;
  opacity: 1;
  left: 10px;
  top: 10px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out; }

#nav-icon1 span:nth-child(1) {
  top: 0px; }

#nav-icon1 span:nth-child(2) {
  top: 9px; }

#nav-icon1 span:nth-child(3) {
  top: 18px; }

#nav-icon1.open span {
  background: #F44336; }

#nav-icon1.open span:nth-child(1) {
  top: 9px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg); }

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px; }

#nav-icon1.open span:nth-child(3) {
  top: 9px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg); }

.login-slideout-btn {
  color: #ECEFF1;
  background: #455A64; }

.toggle-slideout-dark {
  color: #263238;
  background: #CFD8DC; }

.header-buttons {
  position: fixed;
  top: 0;
  background: transparent;
  text-align: right;
  width: 100%;
  margin: 0 auto;
  z-index: 100;
  top: 20px;
  padding-right: 20px; }

/*Changed the header-login and header-button to the same class*/
.header-button {
  display: inline-block;
  width: 80px;
  height: 30px;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  text-align: center;
  font-size: 10px;
  font-weight: normal;
  padding-top: 9px;
  text-decoration: none;
  vertical-align: top;
  cursor: pointer; }

/*This just provides the .1 more opacity to the register link*/
.header-highlighted {
  background: rgba(255, 255, 255, 0.3); }

.header-register a,
.header-login a {
  text-decoration: none; }

.register-button {
  text-decoration: none;
  color: #FFF;
  margin-top: 10px;
  text-shadow: 1px 1px 7px #263238;
  font-size: 12px;
  font-weight: lighter; }

/* HOMEPAGE BANNER */
.header-search-wrap {
  background: transparent;
  background-size: cover;
  width: 100%;
  height: 0;
  margin: 0 auto;
  z-index: 400;
  position: fixed; }

.homepage-banner,
.header-banner {
  width: 360px;
  margin: 0 auto;
  position: relative; }

.header-banner {
  position: absolute;
  right: 0;
  top: 0px; }

.search-container {
  position: absolute;
  width: 100%;
  margin: 0 auto;
  text-align: right;
  display: inline-block;
  vertical-align: top;
  background: #37474F;
  left: 0; }
  .search-container i {
    width: 15%;
    height: 60px;
    color: #ECEFF1;
    background: #455A64;
    padding-top: 21px;
    text-align: center;
    font-size: 16px;
    display: inline-block;
    transition: 250ms; }
  .search-container input {
    width: 70%;
    height: 60px;
    padding: 15px 0;
    background: transparent;
    color: #ECEFF1;
    font-size: 18px;
    border: 0;
    outline: 0;
    display: inline-block;
    transition: 250ms;
    font-weight: 300;
    text-indent: 15px;
    /*border-left: 1px solid #546E7A;*/
    vertical-align: top; }
  .search-container input::-webkit-input-placeholder {
    color: #B0BEC5; }
  .search-container li {
    display: inline-block;
    width: 15%;
    vertical-align: top; }

/* Search Dropdown */
.search-dropdown {
  width: 380px;
  left: 0; }

.search-span {
  background: #fff;
  color: #263238; }

.banner-container {
  width: 100%;
  position: relative;
  margin: 0 auto;
  top: 150px;
  text-align: center; }
  .banner-container img {
    margin-bottom: 0px; }

.banner-slogan {
  width: 400px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 15px; }
  .banner-slogan p {
    font-size: 18px;
    line-height: 30px;
    font-weight: 100;
    color: #ECEFF1;
    display: block;
    vertical-align: top; }
  .banner-slogan h1 {
    font-size: 28px;
    font-weight: 300;
    font-style: italic;
    color: #ECEFF1;
    display: block;
    vertical-align: top;
    padding-bottom: 15px;
    padding-top: 0px; }
  .banner-slogan img {
    display: block;
    width: 150px;
    height: 150px;
    vertical-align: top;
    margin: 0 auto;
    margin-bottom: 25px; }

.banner-logo {
  width: 75px;
  height: 75px;
  border-radius: 58px;
  background: #57ad8b;
  padding-top: 11px;
  text-align: center;
  margin: 0 auto; }

/*
  Set the color of the icon
*/
svg path,
svg rect {
  fill: #263238; }

.banner-footer {
  width: 100%;
  height: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #455A64;
  text-align: center; }
  .banner-footer span {
    color: #455A64;
    font-size: 48px;
    margin-top: -31px; }

/* SEARCH CONTAINER */
.college-search {
  height: auto;
  width: 100%;
  background: #ECEFF1;
  font-weight: 300;
  transition: 250ms;
  z-index: 800;
  position: absolute;
  right: 0;
  top: 60px; }
  .college-search div a {
    font-size: 16px;
    color: #263238; }
  .college-search div {
    padding: 20px 15px;
    border-bottom: 1px solid #CFD8DC;
    border-top: 1px solid #fff;
    text-align: left; }
    .college-search div:hover {
      background: #CFD8DC;
      border-top: 1px solid #CFD8DC; }
  .college-search p span {
    position: absolute;
    padding: 0;
    height: auto;
    width: auto; }

/* Login Container */
.slideout-container {
  right: -320px;
  width: 320px;
  position: fixed;
  height: 100vh;
  background: #ECEFF1;
  z-index: 700;
  transition: 250ms;
  padding-top: 30px;
  top: 0; }

.toggle-slideout {
  right: 0; }

.login-container {
  width: 100%;
  margin: 0 auto;
  padding: 30px;
  position: absolute;
  right: 0;
  transition: 250ms; }
  .login-container input {
    height: 45px;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 5px;
    background: #FFF;
    border: 1px solid #dfdfdf;
    outline: 0;
    font-size: 16px;
    font-weight: 300;
    text-indent: 15px;
    border-radius: 3px; }
  .login-container button {
    background: #EF5350;
    height: 35px;
    width: 30%;
    border: 0;
    outline: 0;
    font-size: 14px;
    color: #ECEFF1;
    border-radius: 3px;
    float: right;
    font-weight: 300; }
  .login-container label {
    font-size: 16px;
    text-align: left; }

.close-login {
  right: -320px; }

.register-container {
  width: 100%;
  margin: 0 auto;
  padding: 30px;
  position: absolute;
  right: -320px;
  transition: 250ms; }
  .register-container input {
    height: 45px;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 5px;
    background: #FFF;
    border: 1px solid #dfdfdf;
    outline: 0;
    font-size: 16px;
    font-weight: 300;
    text-indent: 15px;
    border-radius: 3px; }
  .register-container button {
    background: #EF5350;
    height: 45px;
    width: 100%;
    border: 0;
    outline: 0;
    font-size: 16px;
    color: #ECEFF1;
    border-radius: 3px; }
  .register-container label {
    font-size: 16px;
    text-align: left; }

.open-register {
  right: 0; }

.register-btn,
.login-btn {
  font-size: 14px;
  padding-top: 10px;
  font-weight: 300; }

.input-label {
  width: 300px;
  text-align: left;
  margin: 0 auto;
  display: block;
  margin-top: 10px;
  font-size: 12px;
  color: #fff;
  text-shadow: 1px 1px 9px #263238; }

.select-user-type {
  display: block;
  margin: 0 auto;
  width: 300px;
  height: 45px;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-overflow: '';
  background: transparent;
  position: relative;
  z-index: 20;
  text-align: center;
  border: none;
  background: #ECEFF1;
  border-radius: 0;
  font-size: 16px;
  color: #263238;
  text-indent: 15px;
  margin-top: 4px; }

.select-user-type:focus {
  outline: 0;
  border: 0; }

/* Animated Hamburger Toggle */
/*#nav-toggle { position: absolute; left: 50%; top: 50%; }

#nav-toggle { 
	cursor: pointer;
	margin-left: -13px;
	margin-top: 0px;
}
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 3px;
  width: 25px;
  background: white;
  position: absolute;
  display: block;
  content: '';
}
#nav-toggle span:before {
  top: -10px; 
}
#nav-toggle span:after {
  bottom: -10px;
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  transition: all 250ms ease-in-out;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}
*/
/* Home Sidebar */
.home-sidebar {
  position: fixed;
  width: 300px;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  left: -300px;
  top: 0;
  z-index: 100;
  transition: 250ms; }

.home-sidebar-open {
  position: fixed;
  top: 15px;
  padding-left: 8px;
  padding-top: 4px;
  color: #4EAE8F;
  font-size: 28px;
  z-index: 101;
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.1);
  margin-left: 15px;
  border-radius: 5px; }

.home-sidebar-close {
  position: fixed;
  top: 15px;
  padding-left: 8px;
  padding-top: 4px;
  color: #4EAE8F;
  font-size: 28px;
  z-index: 101;
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.1);
  margin-left: 15px;
  border-radius: 5px; }

.open-sidebar {
  left: 0; }

.hidden {
  display: none; }

/*Homepage Gallery*/
.homepage-gallery {
  width: 1080px;
  margin: 0 auto;
  padding-top: 150px; }
  .homepage-gallery ul {
    list-style: none;
    padding-left: 0; }
  .homepage-gallery li {
    display: inline-block;
    width: 270px;
    height: 200px;
    background: #fff; }
  .homepage-gallery li img {
    width: auto;
    height: 200px; }
  .homepage-gallery li:nth-child(4n) {
    margin-right: 0; }

.gallery-thumbnail {
  width: 100%;
  height: auto;
  overflow: hidden; }

.gallery-image {
  height: 300px;
  width: auto; }

.image-info {
  padding-top: 15px; }
  .image-info p {
    font-size: 12px;
    color: #333; }

.image-uploadedby {
  font-size: 12px;
  color: #555;
  display: inline-block; }

.image-uploadedby span {
  font-size: 12px;
  font-weight: bold;
  color: #333; }

.image-uploadedwhen {
  font-size: 12px;
  color: #999;
  display: inline-block;
  float: right; }

.image-likecount {
  color: #555;
  padding-top: 5px;
  display: inline-block; }

.image-rating {
  padding-top: 5px; }

/* Profile and School Templates */
.profile-body,
.school-body {
  width: 960px;
  margin: 0 auto;
  position: relative;
  top: 50px;
  margin-bottom: 50px; }

.profile-right-col,
.school-right-col {
  display: inline-block;
  width: 360px;
  position: relative;
  vertical-align: top; }

.profile-left-col,
.school-left-col {
  display: inline-block;
  width: 575px;
  background: transparent;
  margin-right: 25px;
  margin-top: -86px; }

.profile-info-evenrow,
.profile-info-oddrow,
.school-info-evenrow,
.school-info-oddrow {
  background: #ECEFF1;
  width: 100%;
  height: 500px;
  position: relative; }

.profile-heading {
  width: 100%;
  padding: 25px 30px 6px;
  background: #37474F;
  display: inline-block;
  height: 130px; }
  .profile-heading img {
    width: 60px;
    height: 60px;
    display: inline-block;
    margin-top: 12px; }
  .profile-heading h1 {
    color: #ECEFF1;
    font-size: 30px;
    font-weight: 300;
    padding-top: 14px;
    padding-left: 10px;
    display: inline-block;
    vertical-align: top; }
  .profile-heading p {
    color: #ECEFF1;
    font-size: 14px;
    font-weight: 300;
    display: block;
    vertical-align: top;
    padding-left: 72px;
    margin-top: -25px; }

.school-food,
.school-hotel {
  width: 100%;
  background: #ECEFF1; }
  .school-food ul,
  .school-hotel ul {
    list-style: none;
    padding-left: 0;
    /*border-bottom: 1px solid #FFF;*/ }
  .school-food li,
  .school-hotel li {
    display: inline-block;
    width: 100%;
    padding: 25px;
    border-bottom: 1px solid #dfdfdf;
    border-top: 1px solid #fff; }
  .school-food span,
  .school-hotel span {
    width: 5%;
    text-align: center;
    font-size: 16px;
    display: inline-block;
    vertical-align: top;
    color: #37474F; }

.food-name,
.hotel-name {
  width: 75%;
  display: inline-block;
  vertical-align: top;
  padding-left: 5px; }
  .food-name h1,
  .hotel-name h1 {
    font-size: 14px;
    color: #263238; }
  .food-name p,
  .hotel-name p {
    font-size: 12px;
    font-style: italic;
    display: block;
    color: #37474F; }

.food-radius,
.hotel-radius {
  width: 20%;
  display: inline-block;
  vertical-align: top;
  text-align: right; }
  .food-radius p,
  .hotel-radius p {
    font-size: 12px;
    color: #37474F; }

/* School Instagram Gallery */
.school-instagram-gallery {
  background: #37474F;
  border-top: 1px solid #455A64;
  border-bottom: 1px solid #263238;
  padding: 25px; }
  .school-instagram-gallery li {
    width: 22%;
    height: 100px;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    margin-right: 4%;
    background: #455A64;
    padding: 2px; }
  .school-instagram-gallery li:last-child {
    margin-right: 0; }
  .school-instagram-gallery img {
    width: 100%;
    height: 96px; }

.school-heading {
  width: 100%;
  padding: 15px 15px 6px;
  background: #37474F;
  display: inline-block;
  height: 130px;
  margin-bottom: 1px; }
  .school-heading img {
    width: 110px;
    height: 110px;
    display: inline-block; }
  .school-heading h1 {
    color: #ECEFF1;
    font-size: 30px;
    font-weight: 300;
    padding-top: 14px;
    padding-left: 2px;
    display: inline-block;
    vertical-align: top; }
  .school-heading p {
    color: #ECEFF1;
    font-size: 14px;
    font-weight: 300;
    display: block;
    vertical-align: top;
    padding-left: 114px;
    margin-top: -59px; }
  .school-heading span {
    display: none; }

.school-options {
  width: 100%;
  background: #37474F;
  border-bottom: 1px solid #455A64;
  /*	li:nth-child(1), 
  	li:nth-child(4) {
  		border-left: 0;
  	}
  
  	li:nth-child(1), 
  	li:nth-child(2),
  	li:nth-child(3) {
  		border-top:0;
  	}
  
  	li:nth-child(4), 
  	li:nth-child(5),
  	li:nth-child(6) {
  		border-bottom:0;
  	}
  
  	li:nth-child(3n) {
  		border-right: 0;
  	}*/ }
  .school-options li {
    width: 20%;
    display: inline-block;
    color: #ECEFF1;
    font-size: 12px;
    text-align: center;
    padding: 15px 0;
    font-weight: 300;
    border-right: 1px solid #263238;
    border-left: 1px solid #455A64;
    border-bottom: 1px solid #263238;
    border-top: 1px solid #455A64; }
  .school-options img {
    text-align: center;
    display: block;
    width: 30px;
    height: auto;
    margin: 0 auto;
    padding-bottom: 5px; }
  .school-options li:last-child {
    border-right: 0; }
  .school-options li:first-child {
    border-left: 0; }
  .school-options span {
    display: block;
    font-size: 16px;
    padding-bottom: 5px; }

.school-options-mobile {
  display: none; }

.module-header {
  width: 100%;
  background: #37474F;
  padding: 15px 15px;
  border-bottom: 1px solid #263238; }
  .module-header img {
    height: 25px;
    width: auto;
    margin-right: 5px;
    display: inline-block;
    vertical-align: top; }
  .module-header p {
    color: #ECEFF1;
    font-size: 16px;
    font-weight: 300;
    display: inline-block;
    vertical-align: top;
    padding-top: 3px; }
  .module-header a {
    color: #ECEFF1;
    font-size: 14px;
    text-decoration: none;
    float: right;
    padding-top: 5px;
    font-weight: 300; }

.view-all {
  width: 100%;
  border-top: 1px solid #fff;
  background: #ECEFF1;
  text-align: center;
  padding: 15px 0;
  margin-bottom: 25px; }
  .view-all a {
    font-size: 16px;
    color: #263238;
    font-weight: 300;
    text-decoration: none; }

.view-all-dark {
  width: 100%;
  border-top: 1px solid #455A64;
  background: #37474F;
  text-align: center;
  padding: 15px 0;
  margin-bottom: 25px; }
  .view-all-dark a {
    font-size: 16px;
    color: #ECEFF1;
    text-decoration: none;
    font-weight: 300; }

/* Sports Schedules */
.sports-schedule {
  width: 100%;
  color: #263238;
  background: #ECEFF1;
  padding: 15px 0; }
  .sports-schedule ul {
    list-style: none;
    padding-left: 0; }
  .sports-schedule li {
    width: 100%;
    padding: 10px 25px; }
  .sports-schedule h1 {
    display: inline-block;
    width: 20%;
    vertical-align: top;
    font-weight: 300;
    font-size: 12px; }
  .sports-schedule p {
    display: inline-block;
    width: 60%;
    vertical-align: top;
    font-weight: 500;
    font-size: 12px; }
  .sports-schedule span {
    display: inline-block;
    width: 20%;
    vertical-align: top;
    font-style: italic;
    font-weight: 300;
    font-size: 12px; }

.school-ad {
  width: 100%;
  background: #ECEFF1;
  height: 200px;
  margin-bottom: 30px;
  text-align: center; }
  .school-ad p {
    font-size: 36px;
    text-align: center;
    color: #333; }
  .school-ad span {
    font-size: 36px;
    color: #ECEFF1;
    position: relative;
    /* left: 0; */
    margin: 0 auto;
    top: 0;
    z-index: 1000000;
    /* vertical-align: bottom; */
    margin-top: -23px; }

.school-photos {
  width: 100%;
  position: relative;
  background: #263238; }
  .school-photos li {
    width: 100%;
    height: auto;
    /*background:#37474F;*/
    display: inline-block;
    /*padding:15px;*/ }
  .school-photos li:nth-child(3n) {
    border-right: 0; }
  .school-photos img {
    width: 100%;
    height: auto; }

/* Footer */
/* Media Queries */
@media screen and (min-width: 320px) and (max-width: 500px) {
  .slideout-container {
    width: 100%;
    right: -100%; }

  .toggle-slideout {
    right: 0; }

  .register-container {
    width: 100%;
    right: -100%; }

  .open-register {
    right: 0; }

  .close-login {
    right: -100%; }

  .banner-container {
    width: 100%;
    background: #263238;
    height: 500px; }

  .section {
    height: auto !important; }

  /* Search Bar */
  header {
    padding-top: 0;
    height: 60px; }

  .header-banner {
    width: 100%; }

  .homepage-banner {
    width: 90%; }

  .header-container {
    width: 100%;
    top: 0; }

  .header-search,
  .homepage-search {
    width: 100%; }

  .header-search span,
  .homepage-search span {
    width: 15%;
    right: 85%; }

  .header-search input,
  .homepage-search input {
    width: 85%; }

  .header-toggle {
    width: 20%; }
    .header-toggle li {
      width: 100%; }

  /* Profile and School Template */
  .profile-body,
  .school-body {
    width: 100%;
    margin-top: 50px; }

  .profile-left-col,
  .school-left-col,
  .school-right-col,
  .profile-right-col {
    display: block;
    width: 100%;
    margin-top: -50px; }

  .school-body {
    top: 0; }

  .school-options li {
    font-size: 0; }

  .school-options-mobile {
    display: block;
    margin-bottom: 1px;
    background: #37474F;
    border-top: 1px solid #455A64;
    border-bottom: 1px solid #455A64; }
    .school-options-mobile li {
      width: 33.3333%;
      /*			border-right: 1px solid #455A64;
      			border-left: 1px solid #607D8B;
      			border-bottom: 1px solid #455A64;
      			border-top: 1px solid #607D8B;*/ }

  .school-heading {
    padding: 29px 15px 6px;
    background: #263238;
    border-top: 1px solid #455A64; }
    .school-heading img {
      width: 60px;
      height: 60px;
      text-align: left; }
    .school-heading p {
      padding-left: 64px;
      margin-top: -20px;
      color: #ECEFF1;
      text-align: left; }
    .school-heading h1 {
      padding-top: 4px;
      color: #ECEFF1;
      text-align: left; }
    .school-heading span {
      font-size: 36px;
      color: #263238;
      position: relative;
      display: block;
      z-index: 1000000;
      vertical-align: bottom;
      margin-bottom: -23px;
      padding-top: 15px;
      text-align: center;
      display: none; } }

/*# sourceMappingURL=main.css.map */
