@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,800,900,300italic,400italic);
@import url(http://fonts.googleapis.com/css?family=Lobster);

/* Colors */

$primary-color-light: #ECEFF1;
$primary-color-medium: #37474F;
$primary-color-dark: #263238;


$secondary-color-dark: #0277BD;
$secondary-color-medium: #0277BD;
$secondary-color-light: #03A9F4;

$green-light: #8BC34A;
$green-dark: #689F38;
$text-color: #ECEFF1;


 

/* Global Variables */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
	font-size:0;
}

a {
	text-decoration: none;
}

body {
	background: $primary-color-light;
	z-index: 1;
	position: relative;
}

.body-container {
	width: 100%;
	position: relative;
	background: $primary-color-light;
	z-index: 1;
}


/* HEADER */

header {
	width: 100%;
	height: 60px;
	/*background: #f8f8f8;*/
	position:relative;
	z-index:50;
	margin-top: 25px;
	/*border-bottom:1px solid #dfdfdf;*/

	ul {
		list-style: none;
		padding-left: 0;
	}

	li {
		display: inline-block;
		vertical-align: top;
	}

	img {
		width: 50px;
		height: 50px;
		display: inline-block;
	}

/*	h1 {
		color: $primary-color-light;
		font-size: 30px;
		font-weight: 300;
		padding-top: 5px;
		padding-left: 2px;
		display: inline-block;
		vertical-align: top;
	}
	p {
		color: $primary-color-light;
		font-size: 14px;
		font-weight: 100;
		display: block;
		vertical-align: top;
		padding-left: 54px;
		margin-top: -6px;
	}*/
}

.header-wrap {
	width: 100%;
	position: absolute;
	top: 0;
	z-index: 100;
}

.header-top {
	width: 1000px;
	height: 50px;
	margin: 0 auto;
}

.top-header {
	width: 1000px;
	margin: 0px auto 0;
}

.top-header-wrap {
	position:relative;
	width: 100%;
	/*background: #555;*/
	height: 57px;
	margin-bottom: 20px;
}

.header-top-left {
	display: inline-block;
	width: 50%;
	padding-top: 8px;


	img {
		width: 35px;
		height: auto;
		display: inline-block;
		vertical-align: top;
		margin-top:0px;
	}

	div {
		display: inline-block;
		vertical-align: top;
		padding-left: 5px;
		padding-top:0px;
	}

	h1 {
		font-family:'Lobster', cursive;
		font-size: 24px;
		color: $primary-color-dark;
		font-weight:normal;
		display: inline-block;
		vertical-align: top;
		padding-top:2px;
		padding-left:5px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;

	}

	p {
		display: block;
		font-size: 12px;
		font-weight: 300;
	}

}

.header-top-right {

	display: inline-block;
	vertical-align: top;
	padding-top:0px;
	position:fixed;
	z-index:50;

	ul {
		list-style: none;
		padding-left: 0;
	}

	li {
		display: inline-block;
		vertical-align: top;
		width: 40px;
		text-align: center;
	}

	span {
		font-size: 24px;
		color: $primary-color-medium;
	}

	p {
		font-size: 16px;
		font-weight: 300;
		color: $primary-color-medium;
		display: block;
		vertical-align: top;
		padding-left:30px;
	}

	h1 {
		font-size: 14px;
		color: $primary-color-medium;
		display: block;
		vertical-align: top;

	}
}

.header-container {
	width: 1000px;
	height: 60px;
	margin: 0 auto;
	position: relative;
    z-index:500;
    padding: 0 0px 0 15px;

}

.logo {
	background: url('assets/images/logo_white_background.svg');
	background-size: contain;
	width: 210px;
	height: 30px;
	display: inline-block;
}

/* Animated Hamburger Toggle */

/* Icon 1 */

#nav-toggle {
	display: inline-block;
	vertical-align: top;
	/* float: right; */
	width: 15%;
	height: 60px;
	cursor: pointer;
	/* padding-top: 19px; */
	/* margin-top: -15px; */
	position: relative;
}

#nav-icon1 {
	width: 15%;
	height: 42px;
	position: absolute;
	display: inline-block;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;
	margin-left: -50px;
	margin-top: 20px;
}

#nav-icon1 span {
  display: block;
  position: absolute;
  height: 4px;
  width: 25px;
  background: $secondary-color-dark;
  border-radius: 1px;
  opacity: 1;
  left: 10px;
  top:10px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
  top: 0px;
}

#nav-icon1 span:nth-child(2) {
  top: 9px;
}

#nav-icon1 span:nth-child(3) {
  top: 18px;
}

#nav-icon1.open span {
	background:#F44336;
}

#nav-icon1.open span:nth-child(1) {
  top: 9px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-icon1.open span:nth-child(3) {
  top: 9px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}


.login-slideout-btn {
	color:$primary-color-light;
	background: #455A64;
}

.toggle-slideout-dark {
	color:#263238;
	background:#CFD8DC;
}


.header-buttons {
	position: fixed;
	top: 0;
	background: transparent;
	text-align: right;
	width: 100%;
	margin: 0 auto;
	z-index: 100;
	top: 20px;
	padding-right:20px;
}

/*Changed the header-login and header-button to the same class*/

.header-button {
	display: inline-block;
	width: 80px;
	height: 30px;
	border-radius: 3px;
	background: rgba(255,255,255, .2);
	color:#fff;
	text-align: center;
	font-size: 10px;
	font-weight: normal;
	padding-top: 9px;
	text-decoration: none;
	vertical-align: top;
	cursor:pointer;
}

/*This just provides the .1 more opacity to the register link*/
.header-highlighted {
	background: rgba(255,255,255,.3);
}

.header-register a,
.header-login a {
	text-decoration: none;
}

.register-button {
	text-decoration: none;
	color: #FFF;
	margin-top: 10px;
	text-shadow: 1px 1px 7px #263238;
	font-size: 12px;
	font-weight: lighter;
}


/* HOMEPAGE BANNER */

.header-search-wrap {
	background: transparent;
	background-size: cover;
	width: 100%;
	height: 0;
	margin: 0 auto;
	z-index: 400;
	position: fixed;
}

.homepage-right,
.header-right {
	width: 350px;
	height: 60px;
	float:right;
	margin: 0 auto;
	position: relative;
	display: inline-block;
	vertical-align: top;
	border-radius: 0px 0px 4px 4px;
	/*top:10px;*/

}

.header-left {
	width: 600px;
	height: 60px;
	display: inline-block;
	vertical-align: top;
	background: transparent;
	margin-right: 10px;
	display: none;
}

.header-banner {
	position: absolute;
  	right: 0;
  	top: 0px;
}

.homepage-banner {
	width: 360px;
	margin: 0 auto;
	position:relative;
}

.search-container {
	position: absolute;
	width: 100%;
	margin: 0 auto;
	text-align: right;
	display: inline-block;
	vertical-align: top;
	background: #fff;
	/*border-left: 1px solid #dfdfdf;*/
	left: 0;

	i {
		width: 15%;
		height: 60px;
		color: #999;
		background: #fff;
		padding-top: 21px;
		text-align: right;
		font-size: 16px;
		display: inline-block;
		transition: 250ms;
	}

	input {
		width: 70%;
		height: 60px;
		padding: 15px 0;
		background: transparent;
		color: #555;
		font-size: 18px;
		border: 0;
		outline: 0;
		display: inline-block;
		transition: 250ms;
		font-weight: 300;
		text-indent: 15px;
		/*border-left: 1px solid #546E7A;*/
		vertical-align:top;
	}

	input::-webkit-input-placeholder {
		color: #999;
	}

	li {
		display: inline-block;
		width: 15%;
		vertical-align: top;
	}
}

/* Search Dropdown */

.search-dropdown {
	width: 380px;
	left:0;
}


.search-span {
	background:#fff;
	color:#263238;
}

.banner-container {
	width: 100%;
	position:relative;
	margin: 0 auto;
	top:150px;
	text-align: center;
	padding-bottom:200px;

	img {
		margin-bottom: 0px;
	}
}

.banner-slogan {
	width: 400px;
	margin: 0 auto;
	text-align:center;
	padding-bottom: 15px;

	p {
		font-size:18px;
		line-height: 30px;
		font-weight: 100;
		color: $primary-color-light;
		display: block;
		vertical-align: top;
	}

	h1 {
		font-size: 28px;
		font-weight: 300;
		font-style: italic;
		color:$primary-color-light;
		display: block;
		vertical-align: top;
		padding-bottom: 15px;
		padding-top:0px;
	}

	img {
		display: block;
		width: 150px;
		height: 150px;
		vertical-align: top;
		margin: 0 auto;
		margin-bottom: 25px;
	}
}

.banner-logo {
	width: 75px;
	height: 75px;
	border-radius: 58px;
	background: #57ad8b;
	padding-top: 11px;
	text-align: center;
	margin: 0 auto;
}


/*
  Set the color of the icon
*/
// svg path,
// svg rect{
//   fill: #263238;
// }

.banner-footer {
	width: 100%;
	height: 10px;
	position: absolute;
	bottom: 0;
	left: 0;
	background: #455A64;
	text-align: center;

	span {
		color: #455A64;
		font-size: 48px;
		margin-top: -31px;
	}
}

/* SEARCH CONTAINER */

.college-search {
	height: auto;
    width: 100%;
    background: #333;
    font-weight: 300;
    transition: 250ms;
    position: relative;
    right: 0;
    /*border: 1px solid #dfdfdf;*/
    border-top: 0;
    border-bottom: 0;

    a li {
    	width: 100%;
    	padding: 19px;
    	text-align: left;

    	&:hover {
    		background: #252525;
    	}
    }

    a li span {
    	display: inline-block;
    	vertical-align: top;
    	font-size: 14px;
    	color: $primary-color-light;
    	width: 10%;
    }

    a li h1 {
    	display: inline-block;
    	vertical-align: top;
    	font-size: 16px;
    	color: $primary-color-light;
    	width: 90%;
    	font-weight: 300;
    }
}

/* Login Container */

.slideout-container {
	right:-350px;
	width:350px;
	position:fixed;
	height:100vh;
	background:$primary-color-light;
	z-index:700;
	transition: 250ms;
	padding-top:30px;
	top:0;
}

.toggle-slideout {
	right:0;
}



.login-container {
	width: 100%;
	margin: 0 auto;
	padding: 30px;
	position: absolute;
	right: 0;
	transition:250ms;

	input {
		height: 45px;
		width: 100%;
		margin-bottom: 10px;
		margin-top: 5px;
		background: #FFF;
		border: 1px solid #dfdfdf;
		outline: 0;
		font-size: 16px;
		font-weight: 300;
		text-indent: 15px;
		border-radius: 3px;
	}

	button {
		background: #EF5350;
		height: 35px;
		width: 30%;
		border: 0;
		outline: 0;
		font-size: 14px;
		color: #ECEFF1;
		border-radius: 3px;
		float: right;
		font-weight: 300;
	}

	label {
		font-size: 16px;
		text-align:left;
	}
}

.close-login {
	right:-350px;
}

.slidesjs-previous, 
.slidesjs-next,
.slidesjs-play, 
.slidesjs-stop {
	font-size: 0px;
	padding-right: 5px;
	text-decoration: none;
	color: $primary-color-dark;
	padding-top:5px;
}

.slidesjs-pagination {
	font-size: 0px;
    width: 100%;
    text-align: center; 
    height: 30px; 
    display: inline-block;
    vertical-align:top;
    float: right;
    padding-top: 10px;

}

.slidesjs-navigation {
	width: 100%;
	text-align: center;
}

.slidesjs-pagination-item {
	font-size: 0px;
    background-color: $primary-color-dark;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    display: inline-block;
    margin-left:3px;
}

.slidejs-pagination-item .active {
	background:$primary-color-medium;
}


.register-container {
	width: 100%;
	margin: 0 auto;
	padding: 30px;
	position: absolute;
	right: -350px;
	transition:250ms;

	input {
		height: 45px;
		width: 100%;
		margin-bottom: 10px;
		margin-top:5px;
		background: #FFF;
		border: 1px solid #dfdfdf;
		outline: 0;
		font-size: 16px;
		font-weight: 300;
		text-indent: 15px;
		border-radius: 3px;
	}

	button {
		background: #EF5350;
		height: 45px;
		width: 100%;
		border: 0;
		outline: 0;
		font-size: 16px;
		color:$primary-color-light;
		border-radius:3px;
	}

	label {
		font-size: 16px;
		text-align:left;
	}

}

.open-register {
	right:0;
}

.register-btn,
.login-btn {
	font-size:14px;
	padding-top:10px;
	font-weight:300;
}

.input-label {
	width: 300px;
	text-align: left;
	margin: 0 auto;
	display: block;
	margin-top: 10px;
	font-size: 12px;
	color: #fff;
	text-shadow: 1px 1px 9px #263238;
}

.select-user-type {
	display:block;
	margin: 0 auto;
    width: 300px;
    height: 45px;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-overflow: '';
    background: transparent;
    position: relative;
    z-index: 20;
    text-align: center;
    border: none;
    background: $primary-color-light;
    border-radius: 0;
    font-size: 16px;
    color: #263238;
    text-indent: 15px;
    margin-top: 4px;
}

.select-user-type:focus {
    outline: 0;
    border: 0;
}


/* Animated Hamburger Toggle */

/*#nav-toggle { position: absolute; left: 50%; top: 50%; }

#nav-toggle {
	cursor: pointer;
	margin-left: -13px;
	margin-top: 0px;
}
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 3px;
  width: 25px;
  background: white;
  position: absolute;
  display: block;
  content: '';
}
#nav-toggle span:before {
  top: -10px;
}
#nav-toggle span:after {
  bottom: -10px;
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  transition: all 250ms ease-in-out;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}
*/

/* Home Sidebar */

.home-sidebar {
	position: fixed;
	width: 300px;
	height: 100%;
	background: rgba(0,0,0,.8);
	left: -300px;
	top: 0;
	z-index:100;
	transition:250ms;
}

.home-sidebar-open {
	position: fixed;
	top: 15px;
	padding-left: 8px;
	padding-top: 4px;
	color: #4EAE8F;
	font-size: 28px;
	z-index: 101;
	width: 40px;
	height: 40px;
	background: rgba(255,255,255,.1);
	margin-left: 15px;
	border-radius: 5px;
}

.home-sidebar-close {
	position: fixed;
	top: 15px;
	padding-left: 8px;
	padding-top: 4px;
	color: #4EAE8F;
	font-size: 28px;
	z-index: 101;
	width: 40px;
	height: 40px;
	background: rgba(255,255,255,.1);
	margin-left: 15px;
	border-radius: 5px;
}

.open-sidebar {
	left:0;
}

.hidden {
	display: none;
}

/*Homepage Gallery*/

.homepage-gallery {
	width: 1000px;
	margin: 0 auto;
	padding-top:150px;


	ul{
		list-style:none;
		padding-left: 0;
	}

	li {
		display: inline-block;
		width: 270px;
		height: 200px;
		background: #fff;
	}

	li img {
		width: auto;
		height: 200px;
	}

	li:nth-child(4n) {
		margin-right:0;
	}


}

.gallery-thumbnail {
	width: 100%;
	height: auto;
	overflow: hidden;
}

.gallery-image {
	height: 300px;
	width: auto;
}

.image-info {
	padding-top:15px;

	p {
		font-size: 12px;
		color:#333;
	}
}

.image-uploadedby {
	font-size: 12px;
	color: #555;
	display: inline-block;
}

.image-uploadedby span {
	font-size: 12px;
	font-weight: bold;
	color: #333;
}

.image-uploadedwhen {
	font-size: 12px;
	color: #999;
	display: inline-block;
	float: right;
}

.image-likecount {
	color: #555;
	padding-top:5px;
	display: inline-block;
}

.image-rating {
	padding-top: 5px;
}

/* Profile and School Templates */

.profile-body,
.school-body {
	width: 1000px;
	margin: 0 auto;
	position: relative;
	margin-bottom: 50px;
}

.profile-right-col,
.school-right-col {
	display: inline-block;
	width: 35%;
	position: relative;
	vertical-align: top;
}

.profile-small-col,
.school-small-col {
	display: inline-block;
	width: 240px;
	position: relative;
	vertical-align: top;
	background:#fff;
	margin-right:10px;
}

.featured-image {
	width: 100%;
	height: 200px;
	overflow: hidden;
	border:0px solid $primary-color-medium;

	img {
		height: 100%;
	}
}



.profile-left-col,
.school-left-col {
	display: inline-block;
	width: 65%;
	background: transparent;
	vertical-align: top;
	padding-right: 20px;
}


.profile-info-evenrow,
.profile-info-oddrow,
.school-info-evenrow,
.school-info-oddrow {
	background:$primary-color-light;
	width: 100%;
	height: 500px;
	position:relative;
}

.school-info {
	background:#f8f8f8;
	display: inline-block;
	width: 100%;
	border:1px solid #dfdfdf;
	padding:15px;


	img {
		width: 60px;
		height: auto;
		display: inline-block;
		vertical-align: top;
		margin-top:0px;
	}

	div {
		display: inline-block;
		vertical-align: top;
		padding-left: 5px;
		padding-top:5px;
	}

	h1 {
		font-family: 'Lobster', cursive;
		font-size: 20px;
		color: $primary-color-medium;
		display: inline-block;
		vertical-align: top;
		padding-top:10px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		width:225px;

	}

	p {
		display: block;
		font-size: 12px;
		font-weight: 300;
	}

}

.school-info-list {
	width: 100%;
	background: #fff;
	border: 1px solid #dfdfdf;
	border-top: 0;

	ul {
		list-style: none;
		padding-left: 0;
	}

	li {
		width: 100%;
		padding: 20px 25px;
		display: inline-block;
		border-bottom: 1px solid #f8f8f8;
		cursor: pointer;
	}

	li:last-child {
		border-bottom: 0;
	}

	span {
		display: inline-block;
		color: $secondary-color-dark;
		font-size: 14px;
		width: 5%;
		text-align: right;
	}

	p {
		display: inline-block;
		vertical-align: top;
		padding-left: 10px;
		font-size: 14px;
		color: $primary-color-dark;
		font-weight: 300;
		width: 85%;
	}

	i {
		display: inline-block;
		vertical-align: top;
		font-size: 14px;
		text-align: right;
		color: $green-light;
		width: 10%;
	}
}

.profile-heading {

	width: 100%;
	padding: 25px 30px 6px;
  	background:#37474F;
  	display: inline-block;
  	height:130px;

	img {
		width: 60px;
		height: 60px;
		display: inline-block;
		margin-top:12px;
	}

	h1 {
		color: $primary-color-light;
		font-size: 30px;
		font-weight: 300;
		padding-top: 14px;
		padding-left: 10px;
		display: inline-block;
		vertical-align: top;
	}

	p {
		color: $primary-color-light;
		font-size: 14px;
		font-weight: 300;
		display: block;
		vertical-align: top;
		padding-left: 72px;
		margin-top: -25px;
	}

}

.school-food,
.school-hotel {
	width: 100%;
	background:#fff;
	border: 1px solid #dfdfdf;
	border-bottom:0;


	ul {
		list-style: none;
		padding-left: 0;
		/*border-bottom: 1px solid #FFF;*/

	}

	li {
		display: inline-block;
		width: 100%;
		padding: 20px;
		border-bottom:1px solid #f8f8f8;
		/*border-right:1px solid #f8f8f8;*/
	}


	h1 {
		font-size:12px !important;
		padding-top:15px;
		padding-left:15px;
		font-weight: 300 !important;
	}


}

.school-map {
	margin-bottom: 10px;
	margin-top:0px;
}

.food-radius,
.hotel-radius {
	display: inline-block;
	width: 10%;
	height: 40px;
	text-align: center;
	background:#444;
	border-radius: 4px;
	padding-top:8px;

	img {
		width: 100%;
		height: 40px;
	}

	h3 {
		font-size: 10px;
		padding-left:0px;
		padding-top:0px;
		display: block;
		vertical-align: top;
		font-weight:300;
		color: #f0f0f0;
	}

	span {
		text-align: center;
		font-size: 18px;
		display: inline-block;
		vertical-align: top;
		color: #f0f0f0;
		font-weight:300;
	}

}

.food-name,
.hotel-name {
	width: 75%;
	display: inline-block;
	vertical-align: top;

	h2 {
		font-size: 14px;
		color: $primary-color-medium;
		font-weight:normal;
		padding-bottom:2px;
	}

	h4 {
		font-size: 12px !important;
		/*font-style: italic;*/
		display: block;
		color: $primary-color-dark;
		font-weight: 500;
		margin-top:3px;
		margin-bottom: 3px;
	}

	p {
		font-size: 12px;
		line-height: 18px;
		/*font-style: italic;*/
		display: inline-block;
		color: $primary-color-medium;
		font-weight: 300;
	}

	a {
		color: $secondary-color-light;
		font-size: 12px;
		line-height: 18px;
		display: block;
		font-weight: 300;
	}

	img {
		width: 20px;
		height: auto;
		padding-left: 5px;
		display: inline-block;
		vertical-align: top;
	}

	div {
		display: inline-block;
		vertical-align: top;
		cursor: pointer;
	}
}

.food-phone,
.hotel-phone {
	width: 25%;
	display: inline-block;
	vertical-align: top;
	text-align: right;


	p {
		font-size: 10px;
		color:$primary-color-medium;
		font-weight: 300;
		display: inline-block;
		vertical-align: top;
		padding-top:4px;
		padding-left: 2px;
	}

	i {
		font-size: 14px;
		color: #FFC107;
		margin-top:3px;
	}

	span {
		font-size: 14px;
		color: #333;
		font-weight: 400;
		display: inline-block;
	}
	div {
		display: block;
	}
}
/* School Instagram Gallery */

.instagram-gallery {
	width: 100%;

	li {
		width: 25%;
		height: auto;
		display: inline-block;
		vertical-align: top;
	}

	img {
		width: 310px;
		display: inline-block;
		vertical-align: top;
		height: auto;
		margin-right:35px;
		margin-bottom:35px;
	}

	img:nth-child(3n) {
		margin-right:0;
	}
}

.school-heading {
	width: 100%;
  	display: inline-block;
  	height: auto;
  	margin-top:0px;
  	/*background:$primary-color-light;*/
  	padding:0px;

	img {
		width: 100%;
		height: auto;
		display: inline-block;
	}

	h1 {
		color: $primary-color-light;
		font-size: 30px;
		font-weight: 300;
		padding-top: 14px;
		padding-left: 2px;
		display: inline-block;
		vertical-align: top;
	}

	p {
		color: $primary-color-light;
		font-size: 14px;
		font-weight: 300;
		display: block;
		vertical-align: top;
		padding-left: 114px;
		margin-top: -59px;
	}

	span {
		display:none;
	}
}



.school-options1 {
	width: 65%;
	background:#444;
	z-index: 1000;
	padding: 0px;
	margin-top: 0px;
	display: inline-block;
	vertical-align: top;
	/*border:1px solid #dfdfdf;*/
	/*border-top:0;*/
	margin-bottom: 15px;

	li {
		width: 16.66666667%;
		display: inline-block;
		background:transparent;
		color:$primary-color-dark;
		text-align: left;
		padding: 20px;
		font-weight: 300;
/*		border-left: 1px solid #fff;
		border-right: 1px solid #f0f0f0;*/
		cursor: pointer;
		text-align: center;
	}

	li:hover {
		background: #353535;
	}

	p {
		font-size: 14px;
		display: inline-block;
		vertical-align: top;
		color: $primary-color-light;
		font-weight: 300;
		padding-left: 0px;
	}

	span {
		font-size: 20px;
		display: inline-block;
		vertical-align: top;
		color: #999;
		/*width: 5%;*/
		text-align: right;
		padding-top:5px;
		display: none;
	}

	li:last-child {
		border-bottom:0;
	}

	li:first-child {
		/*border-left:0;*/
	}

	i {
		display: inline-block;
		vertical-align: top;
		width: 20%;
		text-align: right;
		color: $green-light;
		font-size:14px;
	}
}


.school-options-mobile {
	display: none;
}

.module-header {
	width: 100%;
	background: #f8f8f8;
	padding: 20px;
	border: 1px solid #dfdfdf;
	border-bottom: 0;
	margin-top: 0px;

	input {
		height:60px;
		background:ccc;
		border:0;
		width:100%;
	}

	img {
		height: 25px;
		width: auto;
		margin-right:5px;
		display: inline-block;
		vertical-align: top;
	}

	p {
		color:$primary-color-dark;
		font-size: 14px;
		font-weight: 300;
		display: inline-block;
		vertical-align: top;
	}

	span {
		display: inline-block;
		vertical-align: top;
		padding: 5px 10px 0;
		font-size: 12px;
		color: $secondary-color-dark;
	}

	a {
		color:$secondary-color-light;
		font-size: 14px;
		text-decoration: none;
		float: right;
		padding-top:5px;
		font-weight: 300;
	}
}

.header-breadcrumbs {
	width: 35%;
	background: #333;
	padding: 20px;
	/*border: 1px solid #dfdfdf;*/
	/*border-top: 0;*/
	border-right: 0;
	margin-top: 0px;
	display: inline-block;
	vertical-align: top;

	p {
		color:$primary-color-light;
		font-size: 14px;
		font-weight: 300;
		display: inline-block;
		vertical-align: top;
	}

	span {
		display: inline-block;
		vertical-align: top;
		padding: 5px 10px 0;
		font-size: 12px;
		color: $secondary-color-light;
	}

	a {
		color:$secondary-color-light;
		font-size: 14px;
		text-decoration: none;
		float: right;
		padding-top:5px;
		font-weight: 300;
	}
}

.food-search {
	background:#fff;
	border:1px solid #dfdfdf;
	border-bottom:0;
	width: 100%;
	/*margin-top:15px;*/
	/*margin-bottom:15px;*/

	span {
		display:inline-block;
		width: 12%;
		text-align: right;
		font-size: 16px;
		padding-top:20px;
		color: #999;
		padding-right:5px;
	}

	input {
		display: inline-block;
		vertical-align: top;
		font-size:16px;
		height: 65px;
		font-weight:300;
		text-indent: 5px;
		background: transparent;
		width: 68%;
		border:0;

		&:focus {
			outline:0;
		}
	}

	button {
		width: 15%;
		height: 35px;
		background: $secondary-color-dark;
		font-size: 12px;
		font-weight: 300;
		color: $primary-color-light;
		outline: 0;
		border: 0;
		border-radius: 4px;
		margin-top:15px;
	}
}

.food-popular-searches, 
.food-filter {
	padding: 15px 25px;
	background: #fff;
	border:1px solid #dfdfdf;
	border-bottom:0;

	div {
		width: 50%;
		display: inline-block;
		vertical-align: top;
		padding: 5px;

		input {
			margin-top:5px;
		}

		h1 {
			font-size: 16px;
			font-weight: normal;
			padding-bottom: 10px;
		}

		p {
			font-size: 14px;
			padding-left: 10px;
			display: inline-block;
			vertical-align: top;
			font-weight: 300;
		}
	}




}

.no-results {
	font-size: 14px;
}

.filter-submit {

	width: 100%;
	/*padding: 0px 15px 15px;*/
}


.clear-filter {
    width: 100%;
    display: inline-block;
    vertical-align: top;
    background: #f8f8f8;
    border: 1px solid #dfdfdf;
    text-align: center;
    padding: 15px 20px;
    cursor: pointer;
    margin-top: 20px;

	i {
		display: inline-block;
		vertical-align: top;
		color: #ff0000;
		font-size: 12px;
		padding-left:5px;
	}

	p {
		font-size: 14px;
		display: inline-block;
		vertical-align: top;
		color: $primary-color-dark;
		font-weight: 300;
	}
}

.view-all {
	width: 100%;
	border:1px solid #dfdfdf;
	border-top:0;
	background: #fff;
	text-align: center;
	padding: 15px 0;
	margin-bottom: 25px;

	a {
	    font-size: 16px;
	    color: #263238;
	    font-weight: 300;
	    text-decoration: none;
	    padding: 5px;
	    border: 1px solid #f8f8f8;
	    border-left:0;
	    cursor: pointer;
	}

	a:first-child {
		border-left: 1px solid #f8f8f8;
	}
	div {
		display: inline-block;
		padding-right: 5px;
		padding-left: 5px;
	}
}

.view-all-dark {
	width: 100%;
	border-top:1px solid #455A64;
	background:$primary-color-medium;
	text-align: center;
	padding: 15px 0;
	margin-bottom: 25px;

	a {
		font-size: 16px;
		color: $secondary-color-light;
		text-decoration: none;
		font-weight: 300;
	}
}

/* Sports Schedules */

.sports-schedule {
	width: 100%;
	color: $primary-color-dark;
	background: $primary-color-light;
	padding: 15px 0;

	ul {
		list-style: none;
		padding-left: 0;
	}

	li {
		width: 100%;
		padding: 10px 25px;
	}

	h1 {
		display: inline-block;
		width: 20%;
		vertical-align: top;
		font-weight: 300;
		font-size: 12px;

	}

	p {
		display: inline-block;
		width: 60%;
		vertical-align: top;
		font-weight: 500;
		font-size: 12px;

	}

	span {
		display: inline-block;
		width: 20%;
		vertical-align: top;
		font-style: italic;
		font-weight: 300;
		font-size: 12px;

	}


}

.school-ad {
	width: 100%;
	background: $primary-color-light;
	height: 100px;
	margin-top: 10px;
	text-align: center;

	p {
		font-size: 36px;
		text-align: center;
		color:#333;
	}

	span {
		font-size: 36px;
		color: $primary-color-light;
		position: relative;
		/* left: 0; */
		margin: 0 auto;
		top: 0;
		z-index: 1000000;
		/* vertical-align: bottom; */
		margin-top: -23px;
	}

}

.school-photos {
	width: 100%;
	position: relative;
	background:#263238;

	li {
		width: 100%;
		height: auto;
		/*background:#37474F;*/
		display: inline-block;
		/*padding:15px;*/
	}

	li:nth-child(3n) {
		border-right: 0;
	}
	img {
		width: 100%;
		height: auto;

	}
}

#Map {
	padding-left:100px;
	padding-right: 100px;
}

.hidden {
	display: none;
}

#filter-accordion {
	width: 100%;
	border-bottom: 1px solid #dfdfdf;


	section {
		background: #f8f8f8
	}

	article {
		/*padding: 0 25px 25px;*/
		/*border-top: 1px solid #f5f5f5;*/
	}

	aside {
		font-size: 14px;
		border: 0;
		background: #f8f8f8;
		width: 100%;
		padding: 25px;
		text-align: left;
		outline:0;
		border:1px solid #dfdfdf;
		border-bottom:0;
		/*border-top:1px solid #f5f5f5;*/
		font-weight:300;
		cursor: pointer;
		color: $primary-color-dark;
	}

	i {
		display: inline-block;
		vertical-align: top;
		width: 19%;
		text-align: right;

	}

	h1 {
		font-size: 16px;
		font-weight: normal;
		width: 80%;
		display: inline-block;
		vertical-align: top;
	}

	aside:hover {
		background: #f8f8f8;
	}


	button:hover {
		/*background: #fafafa;*/
	}


	button:last-child {
		border-bottom: 1px solid #dfdfdf;
	}
}

.filter-accordion-mobile {
	display: none;
}

.submit-food-filter {
	width: 15%;
	height: 35px;
	background: $secondary-color-dark;
	font-size: 12px;
	font-weight: 300;
	color: $primary-color-light;
	outline: 0;
	border: 0;
	border-radius: 4px;
	margin-top:15px;
}



/* Footer */


/* Media Queries */

@media screen and (min-width : 350px) and (max-width : 500px) {

	header {
		margin-top: 0;
		display:none;
	}

	.header-container {
		width: 100%;
		padding: 0;
	}

	.header-top-left {
		width: 100%;
		padding-top: 30px;
		text-align: center;

		img {
			display: block;
			width: 50px;
			margin: 0 auto;
		}

		div {
			margin-top:10px;
		}

		h1 {
			padding-left:0;
		}
	}

	.header-right {
		width:100%;
	}

	.top-header-wrap {
		position: fixed;
		width: 100%;
		top:0;
		z-index:999;
		/*top: 80px;*/
	}

	.header-breadcrumbs {
		width: 100%;
	}

	.top-header {
		width: 100%;
	}
	.module-header {
		border-top:0;
	}
	
	.school-options1 {

		position:fixed;
		bottom: 0;
		width: 100%;
		margin-bottom: 0;

		span {
			display: inline-block;
		}

		p {
			display: none;
		}
	}

	.search-container {
		display: none;
	}

	.school-body {
		width: 100%;
		top: 57px;
	}

	.school-left-col {
		width: 100%;
		padding-right: 0;
	}

	.school-right-col {
		width: 100%;
	}

	.food-name, 
	.hotel-name {
		width: 75%;
	}

	.food-radius, 
	.hotel-radius {
		width: 15%;
	}

	.instagram-gallery {
		width: 100%;
		padding-bottom: 15px;

		li {
			width: 100%;
		}

		img {
			width: 100%;
			margin: 0;
			padding: 15px 15px 0;
		}
	}

	.filter-accordion-desktop {
		display: none;
	}

	.filter-accordion-mobile {
		display: block;
	}

}
