@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,800,900,300italic,400italic);
@import url(http://fonts.googleapis.com/css?family=Lobster);

/* Colors */

$primary-color-light: #e5e5e5;
$primary-color-medium: #37474F;
$primary-color-dark: #263238;


$secondary-color-dark: #0277BD;
$secondary-color-medium: #0277BD;
$secondary-color-light: #03A9F4;

$green-light: #8BC34A;
$green-dark: #689F38;
$text-color: #ECEFF1;

$college-vibe-color: #4EB08F;

$button-width: 100%;                    // The width of the button area
$button-height: 60px;                   // The height of the button area
$bar-thickness: 3px;                    // The thickness of the button bars
$button-pad: 16px;                      // The left/right padding between button area and bars.
$button-bar-space: 12px;                // The spacing between button bars
$button-transistion-duration: 0.3s;     // The transition duration

/* Global Variables */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
	font-size:0;
}

a {
	text-decoration: none;
}

body {
	background: $primary-color-light;
	z-index: 1;
	position: relative;
}

.body-container {
	width: 100%;
	position: relative;
	background: $primary-color-light;
	z-index: 1;
}


/* HEADER */

header {
	width: 100%;
	height: 60px;
	/*background: #f8f8f8;*/
	position:relative;
	z-index:50;
	margin-top: 25px;
	/*border-bottom:1px solid #dfdfdf;*/

	ul {
		list-style: none;
		padding-left: 0;
	}

	li {
		display: inline-block;
		vertical-align: top;
	}

	img {
		width: 50px;
		height: 50px;
		display: inline-block;
	}

/*	h1 {
		color: $primary-color-light;
		font-size: 30px;
		font-weight: 300;
		padding-top: 5px;
		padding-left: 2px;
		display: inline-block;
		vertical-align: top;
	}
	p {
		color: $primary-color-light;
		font-size: 14px;
		font-weight: 100;
		display: block;
		vertical-align: top;
		padding-left: 54px;
		margin-top: -6px;
	}*/
}

.header-wrap {
	width: 100%;
	position: absolute;
	top: 0;
	z-index: 100;
}

.header-top {
	width: 1000px;
	height: 50px;
	margin: 0 auto;
}

.top-header {
	width: 1000px;
	margin: 0px auto 0;
}

.top-header-wrap {
	position:relative;
	width: 100%;
	margin-top: 5px;

}

.header-left {
	display: inline-block;
	width: 50%;
	padding-top: 8px;


	img {
		width: 35px;
		height: auto;
		display: inline-block;
		vertical-align: top;
		margin-top:0px;
	}

	div {
		display: inline-block;
		vertical-align: top;
		padding-left: 5px;
		padding-top:0px;
	}

	h1 {
		font-family:'Lobster', cursive;
		font-size: 24px;
		color: $primary-color-dark;
		font-weight:normal;
		display: inline-block;
		vertical-align: top;
		padding-top:2px;
		padding-left:5px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;

	}

	p {
		display: block;
		font-size: 12px;
		font-weight: 300;
	}

}

.header-top-right {

	display: inline-block;
	vertical-align: top;
	padding-top:0px;
	position:fixed;
	z-index:50;

	ul {
		list-style: none;
		padding-left: 0;
	}

	li {
		display: inline-block;
		vertical-align: top;
		width: 40px;
		text-align: center;
	}

	span {
		font-size: 24px;
		color: $primary-color-medium;
	}

	p {
		font-size: 16px;
		font-weight: 300;
		color: $primary-color-medium;
		display: block;
		vertical-align: top;
		padding-left:30px;
	}

	h1 {
		font-size: 14px;
		color: $primary-color-medium;
		display: block;
		vertical-align: top;

	}
}

.header-container {
	width: 1000px;
	height: 60px;
	margin: 0 auto;
	position: relative;
    z-index:500;
    padding: 0 0px 0 15px;

}

.logo {
	background: url('assets/images/logo_white_background.svg');
	background-size: contain;
	width: 210px;
	height: 30px;
	display: inline-block;
}


.login-slideout-btn {
	color:$primary-color-light;
	background: #455A64;
}

.toggle-slideout-dark {
	color:#263238;
	background:#CFD8DC;
}


.header-buttons {
	position: fixed;
	top: 0;
	background: transparent;
	text-align: right;
	width: 100%;
	margin: 0 auto;
	z-index: 100;
	top: 20px;
	padding-right:20px;
}

/*Changed the header-login and header-button to the same class*/

.header-button {
	display: inline-block;
	width: 80px;
	height: 30px;
	border-radius: 3px;
	background: rgba(255,255,255, .2);
	color:#fff;
	text-align: center;
	font-size: 10px;
	font-weight: normal;
	padding-top: 9px;
	text-decoration: none;
	vertical-align: top;
	cursor:pointer;
}

/*This just provides the .1 more opacity to the register link*/
.header-highlighted {
	background: rgba(255,255,255,.3);
}

.header-register a,
.header-login a {
	text-decoration: none;
}

.register-button {
	text-decoration: none;
	color: #FFF;
	margin-top: 10px;
	text-shadow: 1px 1px 7px #263238;
	font-size: 12px;
	font-weight: lighter;
}


/* HOMEPAGE BANNER */

.header-search-wrap {
	background: transparent;
	background-size: cover;
	width: 100%;
	height: 0;
	margin: 0 auto;
	z-index: 400;
	position: fixed;
}

.homepage-right {	
	width: 350px;
	height: 60px;
	background: #222;
	float:right;
	margin: 0 auto;
	position: relative;
	display: inline-block;
	vertical-align: top;
}

.header-right {
	float: right;
	height: 40px;
	position: relative;
	display: inline-block;
	vertical-align: top;
}

/*.header-left {
	width: 600px;
	height: 60px;
	display: inline-block;
	vertical-align: top;
	background: transparent;
	margin-right: 10px;
	display: none;
}
*/
.header-banner {
	position: absolute;
  	right: 0;
  	top: 0px;
}

.homepage-banner {
	width: 1000px;
	margin: 0 auto;
	position:relative;
	text-align: center;
}

.search-container {
	margin: 0 auto;
	position: relative;
	width: 350px;
	text-align: right;
	display: inline-block;
	vertical-align: top;
	left: 0;
	z-index: 99999;

	i {
		width: 15%;
		height: 60px;
		color: $college-vibe-color;
		background: rgba(0,0,0,.8);
		padding-top: 21px;
		text-align: right;
		font-size: 16px;
		display: none;
		transition: 250ms;
	}

	aside {
		width: 15%;
		height: 60px;
		background: rgba(0,0,0,.8);
		padding-top: 18px;
		/*padding-right: 5px;*/
		text-align: right;
		font-size: 16px;
		display: inline-block;
		transition: 250ms;

		img {
			width: 25px;
			height: 25px;
		}
	}

	

	input {
		width: 70%;
		height: 60px;
		padding: 15px 0;
		background: rgba(0,0,0,.8);
		color: #f8f8f8;
		font-size: 18px;
		border: 0;
		outline: 0;
		display: inline-block;
		transition: 250ms;
		font-weight: 300;
		text-indent: 15px;
		/*border-left: 1px solid #546E7A;*/
		vertical-align:top;
	}

	input::-webkit-input-placeholder {
		color: #d8d8d8;
	}

	li {
		display: inline-block;
		width: 15%;
		vertical-align: top;
	}
}

/* Search Dropdown */

.search-dropdown {
	width: 380px;
	left:0;
	postion: relative;

	i {
    	position: absolute;
    	top: -5px;
    	left: 15px;
    	font-size: 16px;
    	color: #f8f8f8;
    }

}


.search-span {
	background:#fff;
	color:#263238;
}

.banner-container {
	width: 100%;
    height: 100vh;
    position: relative;
    padding-top: 150px;
    margin: 0 auto;
    top: 0;
    text-align: center;
 background: url('../assets/images/campus-2.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	img {
		margin-bottom: 0px;
	}
}

.banner-header {
	width: 1000px;
    margin: 0 auto;
    height: 50px;
    padding-top: 20px;
    text-align: right;
    margin-bottom: 100px;

	nav {
		float: right;

		ul {
			padding-left: 0;
			list-style: none;
		}

		li {
			display: inline-block;
			vertical-align: top;
			padding-left: 30px;

			p {
				font-size: 18px;
				font-weight: 100;
				color: #fff;
				text-shadow: 1px 1px 3px #000;
			}

			span {
				display: inline-block;
				vertical-align: top;
				font-size: 18px;
				color: #fff;
				width: 30px;
				height: 30px;
				padding-top: 3px;
			}
		}
	}
}

.banner-slogan {
	position: relative;
	width: 800px;
	margin: 0 auto;
	text-align:center;
	padding-bottom: 15px;
	margin-top: 25px;

	p {
		font-size:16px;
		line-height: 30px;
		font-weight: 100;
		color: $primary-color-light;
		display: block;
		vertical-align: top;
	}

	h1 {
		font-size: 24px;
		line-height: 42px;
		font-weight: 300;
		font-style: italic;
		color:$primary-color-light;
		display: inline-block;
		vertical-align: top;
		text-transform: uppercase;
		padding-bottom: 15px;
		padding-top:0px;
		text-shadow: 1px 1px 8px #000;
		padding-left: 25px;
		width: 80%;
	}

	img {
		display: inline-block;
		width: 75px;
		height: 75px; 
		vertical-align: top;
		margin-bottom: 25px;
		/*opacity: 0.8;
	    filter: alpha(opacity=80); /* For IE8 and earlier */
	}
}

.banner-logo {
	display: inline-block;
	width: 50%;
	padding-top: 8px;


	img {
		width: 60px;
		height: auto;
		display: inline-block;
		vertical-align: top;
		margin-top:0px;
	}

	div {
		display: inline-block;
		vertical-align: top;
		padding-left: 5px;
		padding-top:0px;
	}

	h1 {
		font-family:'Lobster', cursive;
		font-size: 42px;
		color: #fff;
		font-weight:normal;
		display: inline-block;
		vertical-align: top;
		padding-top:2px;
		padding-left:5px;
		text-shadow: 1px 1px 5px #555;
		opacity: .8;

	}

	p {
		display: block;
		font-size: 12px;
		font-weight: 300;
	}

}



/*
  Set the color of the icon
*/
// svg path,
// svg rect{
//   fill: #263238;
// }

.banner-footer {
	width: 100%;
	height: 10px;
	position: absolute;
	bottom: 0;
	left: 0;
	background: #455A64;
	text-align: center;

	span {
		color: #455A64;
		font-size: 48px;
		margin-top: -31px;
	}
}

/*Copyright Info*/

.copyright-info {
	width: 1000px;
	margin: 0 auto;
	padding: 30px;
	border-top:0;
	text-align: center;
	background: transparent;
	margin-bottom: 50px;

	h1 {
		font-size: 12px;
		color: #555;
		font-weight: 300;
	}

	p {
		display: block;
		font-size: 12px;
		color: #555;	
		font-weight: 400;
		padding-top:10px;
	}
}

.copyright-info-light {
	width: 600px;
	margin: 0 auto;
	padding: 30px;
	border-top:0;
	text-align: center;
	background: transparent;
	margin-bottom: 50px;

	h1 {
		font-size: 12px;
		color: #f0f0f0;
		font-weight: 300;
	}

	p {
		display: block;
		font-size: 12px;
		color: #f0f0f0;	
		font-weight: 400;
		padding-top:10px;
	}
}



/* SEARCH CONTAINER */

.college-search {
	height: auto;
    width: 100%;
    font-weight: 300;
    position: relative;
    right: 0;
    border-top: 0;
    /*border-bottom: 2px solid #000;*/
    box-shadow: 0 0 30px -15px #000;

    a aside, 
    a section {
    	display: inline-block;
    	vertical-align: top;
    	height: 60px;
    	background: #f8f8f8;
    	transition: 250ms;
    }

    a aside:nth-child(odd), 
    a section:nth-child(odd) {
    }

    a:hover aside, 
    a:hover section {
    	background: $secondary-color-medium;

    	h1 {
    		color: #fff;
    	}
    }

    a aside {
    	width: 15%;
    	padding: 10px;
    	background: #f8f8f8;

    	img {
    		width: 40px;
    		height: 40px;
    	}

    	&:hover {
    		/*background: $secondary-color-medium;*/
    	}
    }

    a section {
    	width: 85%;
    	padding: 15px 10px;
    	text-align: left;

    	span {
	    	display: inline-block;
	    	vertical-align: top;
	    	font-size: 14px;
	    	color: $primary-color-light;
	    	width: 10%;
			padding-top: 3px;
			text-align: center;
	    }

	   	h1 {
	    	display: inline-block;
	    	vertical-align: top;
	    	font-size: 14px;
	    	color: #333;
	    	width: 90%;
	    	font-weight: 400;
	    }
    }


    
}

/* Login Container */

.slideout-container {
	right:-350px;
	width:350px;
	position:fixed;
	height:100vh;
	background:$primary-color-light;
	z-index:700;
	transition: 250ms;
	padding-top:30px;
	top:0;
}

.toggle-slideout {
	right:0;
}



.login-container {
	width: 100%;
	margin: 0 auto;
	padding: 30px;
	position: absolute;
	right: 0;
	transition:250ms;

	input {
		height: 45px;
		width: 100%;
		margin-bottom: 10px;
		margin-top: 5px;
		background: #FFF;
		border: 1px solid #dfdfdf;
		outline: 0;
		font-size: 16px;
		font-weight: 300;
		text-indent: 15px;
		border-radius: 3px;
	}

	button {
		background: #EF5350;
		height: 35px;
		width: 30%;
		border: 0;
		outline: 0;
		font-size: 14px;
		color: #ECEFF1;
		border-radius: 3px;
		float: right;
		font-weight: 300;
	}

	label {
		font-size: 16px;
		text-align:left;
	}
}

.close-login {
	right:-350px;
}

.slidesjs-previous, 
.slidesjs-next,
.slidesjs-play, 
.slidesjs-stop {
	font-size: 0px;
	padding-right: 5px;
	text-decoration: none;
	color: $primary-color-dark;
	padding-top:5px;
}

.slidesjs-pagination {
	font-size: 0px;
    width: 100%;
    text-align: center; 
    height: 30px; 
    display: inline-block;
    vertical-align:top;
    float: right;
    padding-top: 10px;
    display: none;

}

.slidesjs-navigation {
	width: 100%;
	text-align: center;
}

.slidesjs-pagination-item {
	font-size: 0px;
    background-color: $primary-color-dark;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    display: inline-block;
    margin-left:3px;
}

.slidejs-pagination-item .active {
	background:$primary-color-medium;
}


.register-container {
	width: 100%;
	margin: 0 auto;
	padding: 30px;
	position: absolute;
	right: -350px;
	transition:250ms;

	input {
		height: 45px;
		width: 100%;
		margin-bottom: 10px;
		margin-top:5px;
		background: #FFF;
		border: 1px solid #dfdfdf;
		outline: 0;
		font-size: 16px;
		font-weight: 300;
		text-indent: 15px;
		border-radius: 3px;
	}

	button {
		background: #EF5350;
		height: 45px;
		width: 100%;
		border: 0;
		outline: 0;
		font-size: 16px;
		color:$primary-color-light;
		border-radius:3px;
	}

	label {
		font-size: 16px;
		text-align:left;
	}

}

.open-register {
	right:0;
}

.register-btn,
.login-btn {
	font-size:14px;
	padding-top:10px;
	font-weight:300;
}

.input-label {
	width: 300px;
	text-align: left;
	margin: 0 auto;
	display: block;
	margin-top: 10px;
	font-size: 12px;
	color: #fff;
	text-shadow: 1px 1px 9px #263238;
}

.select-user-type {
	display:block;
	margin: 0 auto;
    width: 300px;
    height: 45px;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-overflow: '';
    background: transparent;
    position: relative;
    z-index: 20;
    text-align: center;
    border: none;
    background: $primary-color-light;
    border-radius: 0;
    font-size: 16px;
    color: #263238;
    text-indent: 15px;
    margin-top: 4px;
}

.select-user-type:focus {
    outline: 0;
    border: 0;
}


/* Animated Hamburger Toggle */

.c-hamburger {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width:$button-width;
  height: $button-height;
  font-size: 0;
  text-indent: -9999px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
}

.c-hamburger:focus {
  outline: none;
}

.c-hamburger span {
  display: block;
  position: absolute;
  top: 30px;
  left: $button-pad;
  right: $button-pad;
  height: $bar-thickness;
  background: white;
}

.c-hamburger span::before,
.c-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: $bar-thickness;
  background-color: #fff;
  content: "";
}

.c-hamburger span::before {
  top: -10px;
}

.c-hamburger span::after {
  bottom: -10px;
}

.c-hamburger--htx {
  background-color: rgba(0,0,0,.8);
}

.c-hamburger--htx span {
  transition: background 0s 0.3s;
}

.c-hamburger--htx span::before,
.c-hamburger--htx span::after {
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s, 0s;
}

.c-hamburger--htx span::before {
  transition-property: top, transform;
}

.c-hamburger--htx span::after {
  transition-property: bottom, transform;
}

/* active state, i.e. menu open */
.c-hamburger--htx.is-active {
  background-color: #cb0032;
}

.c-hamburger--htx.is-active span {
  background: none;
}

.c-hamburger--htx.is-active span::before {
  top: 0;
  transform: rotate(45deg);
}

.c-hamburger--htx.is-active span::after {
  bottom: 0;
  transform: rotate(-45deg);
}

.c-hamburger--htx.is-active span::before,
.c-hamburger--htx.is-active span::after {
  transition-delay: 0s, 0.3s;
}





.home-sidebar {
	position: fixed;
	width: 300px;
	height: 100%;
	background: rgba(0,0,0,.8);
	left: -300px;
	top: 0;
	z-index:100;
	transition:250ms;
}

.home-sidebar-open {
	position: fixed;
	top: 15px;
	padding-left: 8px;
	padding-top: 4px;
	color: #4EAE8F;
	font-size: 28px;
	z-index: 101;
	width: 40px;
	height: 40px;
	background: rgba(255,255,255,.1);
	margin-left: 15px;
	border-radius: 5px;
}

.home-sidebar-close {
	position: fixed;
	top: 15px;
	padding-left: 8px;
	padding-top: 4px;
	color: #4EAE8F;
	font-size: 28px;
	z-index: 101;
	width: 40px;
	height: 40px;
	background: rgba(255,255,255,.1);
	margin-left: 15px;
	border-radius: 5px;
}

.open-sidebar {
	left:0;
}

.hidden {
	display: none;
}

/*Homepage Gallery*/

.homepage-gallery {
	width: 1000px;
	margin: 0 auto;
	padding-top:150px;


	ul{
		list-style:none;
		padding-left: 0;
	}

	li {
		display: inline-block;
		width: 270px;
		height: 200px;
		background: #fff;
	}

	li img {
		width: auto;
		height: 200px;
	}

	li:nth-child(4n) {
		margin-right:0;
	}


}

.gallery-thumbnail {
	width: 100%;
	height: auto;
	overflow: hidden;
}

.gallery-image {
	height: 300px;
	width: auto;
}

.image-info {
	padding-top:15px;

	p {
		font-size: 12px;
		color:#333;
	}
}

.image-uploadedby {
	font-size: 12px;
	color: #555;
	display: inline-block;
}

.image-uploadedby span {
	font-size: 12px;
	font-weight: bold;
	color: #333;
}

.image-uploadedwhen {
	font-size: 12px;
	color: #999;
	display: inline-block;
	float: right;
}

.image-likecount {
	color: #555;
	padding-top:5px;
	display: inline-block;
}

.image-rating {
	padding-top: 5px;
}

/* Profile and School Templates */

.profile-body,
.school-body {
	width: 100%;
	margin: 0 auto;
	position: relative;
}

.school-wrap-1 {
	width: 1000px;
	margin: 0 auto;
	position: relative;
	/*background: #fff;*/
}

.school-wrap-2 {
	width: 1000px;
	margin: 0 auto;
	background: #222;
	margin-bottom: 10px;
	/*margin-top:-10px;*/
}

.school-container {
	width: 1000px;
	margin: 0 auto;
}

.profile-right-col,
.school-right-col {
	display: inline-block;
	width: 35%;
	position: relative;
	vertical-align: top;
    margin-top: 10px;
}

.profile-small-col,
.school-small-col {
	display: inline-block;
	width: 240px;
	position: relative;
	vertical-align: top;
	background:#fff;
	margin-right:10px;
}

.featured-image {
	width: 100%;
	height: 200px;
	overflow: hidden;
	border:0px solid $primary-color-medium;

	img {
		height: 100%;
	}
}

.school-full-column {
	width: 100%;
}



.profile-left-col,
.school-left-col {
	display: inline-block;
	width: 65%;
	background: transparent;
	vertical-align: top;
	padding-top:10px;
	padding-right: 10px;
}


.profile-info-evenrow,
.profile-info-oddrow,
.school-info-evenrow,
.school-info-oddrow {
	background:$primary-color-light;
	width: 100%;
	height: 500px;
	position:relative;
}

.school-info {
	background:#f8f8f8;
	display: inline-block;
	width: 100%;
	/*border:1px solid #dfdfdf;*/
	padding:15px;


	img {
		width: 60px;
		height: auto;
		display: inline-block;
		vertical-align: top;
		margin-top:0px;
	}

	div {
		display: inline-block;
		vertical-align: top;
		padding-left: 10px;
	}

	h1 {
		font-family: 'Lobster', cursive;
		font-size: 20px;
		color: $primary-color-medium;
		display: inline-block;
		vertical-align: top;
		padding-top:10px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		width:225px;

	}

	p {
		display: block;
		font-size: 12px;
		font-weight: 300;
	}

}

.school-info-header {
	width: 100%;
	background: #f8f8f8;
	padding: 20px 0 0;

	h1 {
		font-size: 14px;
		color: #333;
		font-weight: 700;
		text-transform: uppercase;
		border-bottom: 1px solid #f0f0f0;
		padding: 0 25px 10px;

	}
}

.school-info-list {
	width: 100%;
	background: #fff;
	/*border: 1px solid #dfdfdf;*/
	border-top: 0;
	height: 310px;

	ul {
		list-style: none;
		padding-left: 0;
	}

	li {
		width: 100%;
		padding: 20px 25px;
		display: inline-block;
		background: #fff;
		/*border-bottom: 1px solid #f8f8f8;*/
		cursor: pointer;
	}

	li:nth-child(even) {
		background: #f8f8f8 !important;
	}

	li:last-child {
		border-bottom: 0;
	}

	span {
		display: inline-block;
		color: $secondary-color-dark;
		font-size: 14px;
		width: 5%;
		text-align: right;
	}

	p {
		display: inline-block;
		vertical-align: top;
		padding-left: 10px;
		font-size: 14px;
		color: $primary-color-dark;
		font-weight: 300;
		width: 85%;
	}

	i {
		display: inline-block;
		vertical-align: top;
		font-size: 14px;
		text-align: right;
		color: $green-light;
		width: 10%;
	}
}

.profile-heading {

	width: 100%;
	padding: 25px 30px 6px;
  	background:#37474F;
  	display: inline-block;
  	height:130px;

	img {
		width: 60px;
		height: 60px;
		display: inline-block;
		margin-top:12px;
	}

	h1 {
		color: $primary-color-light;
		font-size: 30px;
		font-weight: 300;
		padding-top: 14px;
		padding-left: 10px;
		display: inline-block;
		vertical-align: top;
	}

	p {
		color: $primary-color-light;
		font-size: 14px;
		font-weight: 300;
		display: block;
		vertical-align: top;
		padding-left: 72px;
		margin-top: -25px;
	}

}

.school-food,
.school-hotel {
	width: 100%;
	background:#fff;
	/*border: 1px solid #dfdfdf;*/
	border-bottom:0;


	ul {
		list-style: none;
		padding-left: 0;
		/*border-bottom: 1px solid #FFF;*/

	}

	li {
		display: inline-block;
		width: 100%;
		padding: 20px;
		border-bottom:1px solid #f8f8f8;
		/*border-right:1px solid #f8f8f8;*/
	}


	h1 {
		font-size:12px !important;
		padding-top:15px;
		padding-left:15px;
		font-weight: 300 !important;
	}


}

.school-map {
	margin-bottom: 10px;
	margin-top:0px;
}

.food-radius,
.hotel-radius {
	display: inline-block;
	width: 10%;
	height: 40px;
	text-align: center;
	background:#444;
	border-radius: 4px;
	padding-top:8px;

	img {
		width: 100%;
		height: 40px;
	}

	h3 {
		font-size: 10px;
		padding-left:0px;
		padding-top:0px;
		display: block;
		vertical-align: top;
		font-weight:300;
		color: #f0f0f0;
	}

	span {
		text-align: center;
		font-size: 18px;
		display: inline-block;
		vertical-align: top;
		color: #f0f0f0;
		font-weight:300;
	}

}

.food-name,
.hotel-name {
	width: 75%;
	display: inline-block;
	vertical-align: top;

	h2 {
		font-size: 14px;
		color: $primary-color-medium;
		font-weight:normal;
		padding-bottom:2px;
	}

	h4 {
		font-size: 12px !important;
		/*font-style: italic;*/
		display: block;
		color: $primary-color-dark;
		font-weight: 500;
		margin-top:3px;
		margin-bottom: 3px;
	}

	p {
		font-size: 12px;
		line-height: 18px;
		/*font-style: italic;*/
		display: inline-block;
		color: $primary-color-medium;
		font-weight: 300;
	}

	a {
		color: $secondary-color-light;
		font-size: 12px;
		line-height: 18px;
		display: block;
		font-weight: 300;
	}

	img {
		width: 20px;
		height: auto;
		padding-left: 5px;
		display: inline-block;
		vertical-align: top;
	}

	div {
		display: inline-block;
		vertical-align: top;
		cursor: pointer;
	}
}

.food-phone,
.hotel-phone {
	width: 25%;
	display: inline-block;
	vertical-align: top;
	text-align: right;


	p {
		font-size: 10px;
		color:$primary-color-medium;
		font-weight: 300;
		display: inline-block;
		vertical-align: top;
		padding-top:4px;
		padding-left: 2px;
	}

	i {
		font-size: 14px;
		color: #FFC107;
		margin-top:3px;
	}

	span {
		font-size: 14px;
		color: #333;
		font-weight: 400;
		display: inline-block;
	}
	div {
		display: block;
	}
}
/* School Instagram Gallery */


.instagram-gallery {
	width: 1000px;
	margin: 0 auto;
	padding-top: 30px;

	li {
		width: 300px;
		height: auto;
		display: inline-block;
		vertical-align: top;
		margin-right:50px;
		margin-bottom:50px;
		position:relative;

		section {
			position: absolute;
			left: 0;
			top: 0;
		  	width: 100%;
		  	height: 100%;
		  	text-align: center;
		  	padding: 30px 20px 0;
		  	opacity: 0;
		  	transition: 500ms;
		  	background: rgba(0,0,0,.8);

		  		p, 
				span {
					font-size: 16px;
					color: #f0f0f0;
					display: inline-block;
					vertical-align: top;
				}

				p {
					padding-right: 3px;
				}

				span {
					padding-left: 3px;
					padding-top:2px;
					color: #F44336;
				}

				h1 {
					font-size: 14px;
					color: #f0f0f0;
					margin-bottom: 10px;

				}

				h2 {
					font-size: 14px;
					color: #f0f0f0;
					font-weight: 300;
					margin-top:10px;

				}

				h3 {
					font-size: 12px;
					color: #f0f0f0;
					font-weight: 400;
					margin-top: 10px;
				
			
				}


			}
			
		}

		li:nth-child(3n) {
			margin-right:0px;
		}

		img {
			width: 100%;
			display: inline-block;
			vertical-align: top;
			height: auto;
		}

		img:nth-child(3n) {
			margin-right:0;
		}
		li:hover section {
			opacity: 1;
		}
}

.instagram-gallery li:hover .instagram-overlay {
	display: inline-block;
}

.school-heading {
	width: 100%;
  	display: inline-block;
  	height: auto;
  	margin-top:0px;
  	/*background:#f0f0f0;*/
  	/*padding:10px;*/

	img {
		width: 100%;
		height: auto;
		display: inline-block;
	}

	section {
		position: absolute;
		top: 285px;
		z-index: 100;
		left: 40px;

		h1 {
			font-family: 'Lobster', cursive;
			font-size: 24px;
			color: #f8f8f8;
			display: inline-block;
			vertical-align: top;
			padding-top:10px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			width:100%;
			text-shadow: 1px 1px 5px #000;
		}

		p {
			display: block;
			font-size: 12px;
			font-weight: 300;
			color: #f0f0f0;
			text-shadow: 1px 1px 5px #000;
		}
	}
}

.school-stats, 
.school-stats2 {
	width: 1000px;
	margin: 0 auto;
	font-size: 0;
	background: #f8f8f8;
	padding: 10px 0;

	li {
		width: 33.333333%;
		text-align: left;
		display: inline-block;
		vertical-align: top;
		padding: 25px 30px;

		section, 
		aside {	
			display: inline-block;
			vertical-align: top;
		}

		section {
			width: 75%;
		}

		aside {
			width: 25%;
			text-align: right;
			padding-top: 3px;
			padding-right: 10px;
		}

		h1 {
			display: block;
			font-size: 18px;
			font-weight: 500;
			width: 100%;
			color: #333;
		}

		p {
			width: 100%;
			font-size: 14px;
			font-weight: 300;
			color: #555;
			margin-top: 5px;
			line-height: 18px;
		}

		span {
			font-size: 18px;
			color: $secondary-color-dark; 
		}
	}
}

.school-stats {
	margin-top: 10px;
}

.school-stats2 {
	border-bottom: 0;
}

.school-options-dropdown {
	background: #fff;
	border-radius: 3px;
	border: 1px solid #dfdfdf;

	section, 
	aside {
		display: inline-block;
		vertical-align: top;
		height: 35px;
	}

	section {
		text-align: left;
		padding: 7px 15px 0;

		h1 {
			font-size: 14px;
			font-weight: 400;
			color: #333;
		}
	}

	aside {
		padding: 10px 15px 0;
		background: #f8f8f8;
		/*border-left: 1px solid #d8d8d8;*/
		border-radius: 0 3px 3px 0px;

		i {
			font-size: 14px;
			color: #ccc;
		}
	}
}

.school-options1 {
	width: 65%;
	/*background:#444;*/
	z-index: 1000;
	/*padding-right: 10px;*/
	/*margin-bottom: 15px;*/
	display: inline-block;
	vertical-align: top;
	z-index: 99999999999;

	li {
		width: 20%;
		display: inline-block;
		background: #222;
		color:$primary-color-dark;
		text-align: left;
		padding: 15px 10px;
		height: 60px;
		font-weight: 300;
		border-left: 1px solid #333;
		border-right: 1px solid #181818;
		cursor: pointer;
		text-align: center;
	}

	li:hover {
		background: #353535;
	}

	p {
		font-size: 12px;
		display: inline-block;
		vertical-align: top;
		text-transform: uppercase;
		color: $primary-color-light;
		font-weight: 700;
	}

	h1 {
		font-size: 10px;
		font-weight: 300;
		line-height: 16px;
		color: $primary-color-light;
		margin-top: 3px;
		/*text-transform: uppercase;*/
	}

	span {
		width: 35px;
		height: 35px;
		margin: 0 auto;
		border-radius: 2px;
		font-size: 16px;
		display: inline-block;
		vertical-align: top;
		color: #ccc;
		background: #444;
		text-align: center;
		padding-top:8px;
		display: none;
	}

	li:last-child {
		border-right:0;
	}

	li:first-child {
		border-left:0;
	}

	i {
		display: inline-block;
		vertical-align: top;
		width: 20%;
		text-align: right;
		color: $green-light;
		font-size:14px;
	}
}


.school-options-mobile {
	display: none;
}

.module-header {
	width: 100%;
	background: #fafafa;
	padding: 20px;
	/*border: 1px solid #dfdfdf;*/
	border-bottom: 0;
	margin-top: 0px;

	input {
		height:60px;
		background:ccc;
		border:0;
		width:100%;
	}

	img {
		height: 25px;
		width: auto;
		margin-right:5px;
		display: inline-block;
		vertical-align: top;
	}

	p {
		color:$primary-color-dark;
		font-size: 14px;
		font-weight: 400;
		display: inline-block;
		vertical-align: top;
	}

	span {
		display: inline-block;
		vertical-align: top;
		padding: 5px 10px 0;
		font-size: 12px;
		color: $secondary-color-dark;
	}

	a {
		color:$secondary-color-light;
		font-size: 14px;
		text-decoration: none;
		float: right;
		padding-top:5px;
		font-weight: 300;
	}
}

.header-breadcrumbs {
	width: 100%;
	background: #333;
	padding: 20px;
	/*border: 1px solid #dfdfdf;*/
	/*border-top: 0;*/
	border-right: 0;
	margin-top: 0px;
	display: none;
	vertical-align: top;

	p {
		color:$primary-color-light;
		font-size: 14px;
		font-weight: 300;
		display: inline-block;
		vertical-align: top;
	}

	span {
		display: inline-block;
		vertical-align: top;
		padding: 5px 10px 0;
		font-size: 12px;
		color: $secondary-color-light;
	}

	a {
		color:$secondary-color-light;
		font-size: 14px;
		text-decoration: none;
		float: right;
		padding-top:5px;
		font-weight: 300;
	}
}

.food-search {
	background:#fff;
	/*border:1px solid #dfdfdf;*/
	border-bottom:0;
	width: 100%;
	/*margin-top:15px;*/
	/*margin-bottom:15px;*/

	span {
		display:inline-block;
		width: 12%;
		text-align: right;
		font-size: 16px;
		padding-top:20px;
		color: #999;
		padding-right:5px;
	}

	input {
		display: inline-block;
		vertical-align: top;
		font-size:16px;
		height: 65px;
		font-weight:300;
		text-indent: 5px;
		background: transparent;
		width: 68%;
		border:0;

		&:focus {
			outline:0;
		}
	}

	button {
		width: 15%;
		height: 35px;
		background: $secondary-color-dark;
		font-size: 12px;
		font-weight: 300;
		color: $primary-color-light;
		outline: 0;
		border: 0;
		border-radius: 4px;
		margin-top:15px;
	}
}

.food-popular-searches, 
.food-filter {
	padding: 15px 25px;
	background: #fff;
	/*border:1px solid #dfdfdf;*/
	border-bottom:0;

	div {
		width: 50%;
		display: inline-block;
		vertical-align: top;
		padding: 5px;

		input {
			margin-top:5px;
		}

		h1 {
			font-size: 16px;
			font-weight: normal;
			padding-bottom: 10px;
		}

		p {
			font-size: 14px;
			padding-left: 10px;
			display: inline-block;
			vertical-align: top;
			font-weight: 300;
		}
	}




}

.no-results {
	font-size: 14px;
}

.filter-submit {

	width: 100%;
	/*padding: 0px 15px 15px;*/
}


.clear-filter {
    width: 100%;
    display: inline-block;
    vertical-align: top;
    background: #fff;
    /*border: 1px solid #dfdfdf;*/
    text-align: center;
    padding: 15px 20px;
    cursor: pointer;
    margin-top: 10px;

	i {
		display: inline-block;
		vertical-align: top;
		color: #ff0000;
		font-size: 14px;
		padding-right: 5px;
		padding-top: 1px;
	}

	p {
		font-size: 14px;
		display: inline-block;
		vertical-align: top;
		color: $primary-color-dark;
		font-weight: 700;
	}
}

.view-all {
	width: 100%;
	border-top:0;
	background: #f8f8f8;
	text-align: center;
	padding: 15px 0;
	margin-bottom: 25px;

	a {
	    font-size: 16px;
	    color: #263238;
	    font-weight: 400;
	    text-decoration: none;
	    padding: 5px 15px;
	    border: 1px solid #d8d8d8;
	    border-left:0;
	    cursor: pointer;
	    background: #f0f0f0;
	}

	a:first-child {
		border-left: 1px solid #d8d8d8;
	}
	div {
		display: inline-block;
		padding-right: 5px;
		padding-left: 5px;
	}
}

.view-all-dark {
	width: 100%;
	border-top:1px solid #455A64;
	background:$primary-color-medium;
	text-align: center;
	padding: 15px 0;
	margin-bottom: 25px;

	a {
		font-size: 16px;
		color: $secondary-color-light;
		text-decoration: none;
		font-weight: 300;
	}
}

/* Sports Schedules */

.sports-schedule {
	width: 100%;
	color: $primary-color-dark;
	background: $primary-color-light;
	padding: 15px 0;

	ul {
		list-style: none;
		padding-left: 0;
	}

	li {
		width: 100%;
		padding: 10px 25px;
	}

	h1 {
		display: inline-block;
		width: 20%;
		vertical-align: top;
		font-weight: 300;
		font-size: 12px;

	}

	p {
		display: inline-block;
		width: 60%;
		vertical-align: top;
		font-weight: 500;
		font-size: 12px;

	}

	span {
		display: inline-block;
		width: 20%;
		vertical-align: top;
		font-style: italic;
		font-weight: 300;
		font-size: 12px;

	}


}

.school-ad {
	width: 100%;
	background: $primary-color-light;
	height: 100px;
	margin-top: 10px;
	text-align: center;

	p {
		font-size: 36px;
		text-align: center;
		color:#333;
	}

	span {
		font-size: 36px;
		color: $primary-color-light;
		position: relative;
		/* left: 0; */
		margin: 0 auto;
		top: 0;
		z-index: 1000000;
		/* vertical-align: bottom; */
		margin-top: -23px;
	}

}

.school-photos {
	width: 100%;
	position: relative;
	background:#263238;

	li {
		width: 100%;
		height: auto;
		/*background:#37474F;*/
		display: inline-block;
		/*padding:15px;*/
	}

	li:nth-child(3n) {
		border-right: 0;
	}
	img {
		width: 100%;
		height: auto;

	}
}

.map-options {
	background: #444;
	padding: 10px;

	li {
		width: 100%;
		padding: 10px 15px;

	}

	label {
		padding-left: 10px;
		color: $primary-color-light;
		font-size: 12px;
		font-weight: 400;
	}
}

.map-sidebar {
	width: 20%;
	display: none;
	vertical-align: top;
	background: #333;
	height: 100vh;
	overflow: scroll;
	padding-top: 10px;

	li {
		text-align: center;
		padding: 10px;
		p {
			font-size: 14px;
			color: #fff;
		}
	}
}

.home-about {
	width: 100%;
	padding: 30px 200px 100px;
	text-align: center; 

	h1 {
		font-size: 28px;
		color: #333;
	}

	p {
		font-size: 18px;
		font-weight: 300;
		line-height: 28px;
		margin-top: 10px;
		color: #333;
	}
}

.school-previews {
	width: 100%;


	li {
		width: 50%;
		position: relative;
		display: inline-block;
		vertical-align: top;
		height: 600px;
		  -webkit-background-size: cover;
		  -moz-background-size: cover;
		  -o-background-size: cover;
		  background-size: cover;
		  transition: 250ms;

		  section {
		  	width: 100%;
		  	height: 100%;
		  	text-align: center;
		  	padding: 100px 50px 0;
		  	opacity: 0;
		  	transition: 500ms;
		  	background: rgba(0,0,0,.5);

		  	h1 {
		  		font-size: 28px;
		  		font-weight: 400;
		  		color: #fff;
		  	}
		  	h2 {
		  		font-size: 20px;
		  		font-weight: 300;
		  		margin-top: 5px;
		  		color: #fff;
		  	}

		  	p {
		  		font-size: 16px;
		  		line-height: 24px;
		  		font-weight: 300;
		  		color: #fff;
		  		margin-top: 15px;
		  		margin-bottom: 30px;
		  	}

		  	a {
		  		margin-top: 15px;
		  		text-transform: uppercase;
		  		color: #FFF;
		  		border-top: 3px solid #4EAE8F;
		  		border-bottom: 3px solid #4EAE8F;
		  		font-size: 20px;
		  		font-family: serif;
		  		padding: 5px 15px;
		  	}

		  }
	}

	li:hover section {
		opacity: 1;
	}

	li:first-child {
		background: url('../assets/images/campus-2.jpg') no-repeat center center; 

	}

	li:nth-child(2) {
		 background: url('../assets/images/Duke-University-Duke-Chapel.jpg') no-repeat center center; 

	}

	li:nth-child(3) {
		 background: url('../assets/images/campus-3.jpg') no-repeat center center; 

	}

	li:nth-child(4) {
		 background: url('../assets/images/campus-1.jpg') no-repeat center center; 

	}
}

#map-contain {
	width: 100%;
	display: inline-block;
	vertical-align: top;
	padding: 100px 30px;
}

#circles, #circles a:visited {
    fill: #58AE8C;
    fill-opacity: .8;
    stroke: #fff;
    opacity: 1;
}

#Map {

}

.hidden {
	display: none;
}

#filter-accordion {
	width: 100%;


	section {
		background: #f8f8f8;
	}

	article {
		/*padding: 0 25px 25px;*/
		/*border-top: 1px solid #f5f5f5;*/
	}

	aside {
		font-size: 14px;
		border: 0;
		background: #f8f8f8;
		width: 100%;
		padding: 25px;
		text-align: left;
		outline:0;
		/*border-bottom:1px solid #d8d8d8;*/
		/*border-top:1px solid #f5f5f5;*/
		font-weight:300;
		cursor: pointer;
		color: $primary-color-dark;
	}

	aside:last-child {
		border-bottom: 0;
	}

	i {
		display: inline-block;
		vertical-align: top;
		width: 19%;
		text-align: right;

	}

	h1 {
		font-size: 16px;
		font-weight: normal;
		width: 80%;
		display: inline-block;
		vertical-align: top;
	}

	aside:hover {
		/*background: #f8f8f8;*/
	}


	button:hover {
		/*background: #fafafa;*/
	}


	button:last-child {
		/*border-bottom: 1px solid #dfdfdf;*/
	}
}

.filter-accordion-mobile {
	display: none;
}

.submit-food-filter {
	width: 15%;
	height: 35px;
	background: $secondary-color-dark;
	font-size: 12px;
	font-weight: 300;
	color: $primary-color-light;
	outline: 0;
	border: 0;
	border-radius: 4px;
	margin-top:15px;
}



/* Footer */


/* Media Queries */

@media screen and (min-width : 350px) and (max-width : 700px) {

	header {
		margin-top: 0;
		display:none;
	}

	.header-container {
		width: 100%;
		padding: 0;
	}

	.header-left {
		width: 100%;
		padding-top: 30px;
		text-align: center;

		img {
			display: block;
			width: 50px;
			margin: 0 auto;
		}

		div {
			margin-top:10px;
		}

		h1 {
			padding-left:0;
		}
	}

	.header-right, 
	.homepage-right {
		width:100%;
	}

	.top-header-wrap {
		position: fixed;
		width: 100%;
		top:0;
		z-index:999;
		margin-top: 0;
		/*top: 80px;*/
	}

	.header-breadcrumbs {
		width: 100%;
	}

	.top-header {
		width: 100%;
	}
	.module-header {
		border-top:0;
	}
	
	.school-options1 {

		position:fixed;
		bottom: 0;
		width: 100%;
		margin-bottom: 0;

		span {
			display: inline-block;
		}

		p {
			display: none;
		}

		h1 {
			display: none;
		}
	}


	.school-body {
		width: 100%;
		top: 57px;
	}

	.school-left-col {
		width: 100%;
		padding-right: 0;
	}

	.school-right-col {
		width: 100%;
	}

	.food-name, 
	.hotel-name {
		width: 75%;
	}

	.food-radius, 
	.hotel-radius {
		width: 15%;
	}

	.instagram-gallery {
		width: 100%;
		padding-bottom: 15px;

		li {
			width: 100%;
		}

		img {
			width: 100%;
			margin: 0;
			padding: 15px 15px 0;
		}
	}

	.school-previews {
		li {
			width: 100%;
			height: 400px;

			p {
				display: none;
			} 

			h2 {
				margin-bottom: 25px;
			}
		}
	}

	.home-about {
		padding: 100px 20px 30px;
		text-align: center;
	}

	#map-contain {
		padding: 100px 0px 0;
	}

	.banner-slogan, 
	.banner-header, 
	.homepage-banner {
		width: 100%;
	}

	.search-container {
		width: 100%;
		margin: 0 auto;
		z-index: 999999999;

		input {
			width: 70%;
		}
	}

	.homepage-banner {
		padding: 0 20px;
	}

	.banner-slogan h1 {
		font-size: 24px;
		display: none;
	}

	.banner-container {
		background: url('../assets/images/campus-3.jpg') no-repeat center center;
		padding-top: 100px;
	}

	.banner-header {
		text-align: center;
		display: none;

		nav {
			text-align: center;
			float: none;

			li {
				padding: 0 15px;
			}
		}

		nav li:last-child {
			display: none;
		}
	}

	.school-heading {
		section {
		    top: 75px;
		    width: 100%;
		    text-align: center;
		    left: 0;

		    h1 {
		    	font-size: 32px;
		    }		
		}
	}

	.school-stats {
		width: 100%;
		padding: 30px 20px 30px;
		margin-top: -10px;
		margin-bottom: 50px;

		li {
			width: 100%;

			section {
				width: 85%;
			}

			aside {
				width: 15%;
			}
		}
	}

	.school-left-col, 
	.school-right-col {
		padding-top: 0;
		width: 100%;
	}

	.school-right-col {
		position: fixed;
		right: -100%;
		transition: 250ms;
		z-index: 99999;
		top: 50px;
		background: #fff;
		height: 100vh;
		box-shadow: 0 0 30px -15px #000;
	}

	.school-right-col-shift {
		right: 0;
		transition: 250ms;
	}

	.school-body-shift {
		position: fixed;
		left: -100%;
		transition: 250ms;
	}

	body {
		background: #fff; 
	}

	.school-wrap-2, 
	.school-wrap-1, 
	.school-container {
		width: 100%;
	}

	.listing-container {
		height: 100%;
	}

	#nav-toggle {
		display: inline-block;
	}

	.banner-logo {
		width: 100%;

		img {
			width: 100px;
			height: auto;
			margin-bottom: 15px;
		}

		div {
			display: block;
		}
	}

	.copyright-info {
		width: 100%;
		padding-bottom: 100px;
	}

}
