@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,800,900,300italic,400italic);
@import url(http://fonts.googleapis.com/css?family=Lobster);
/* Colors */
/* Global Variables */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-size: 0; }

a {
  text-decoration: none; }

body {
  background: #e5e5e5;
  z-index: 1;
  position: relative; }

.body-container {
  width: 100%;
  position: relative;
  background: #e5e5e5;
  z-index: 1; }

/* HEADER */
header {
  width: 100%;
  height: 60px;
  /*background: #f8f8f8;*/
  position: relative;
  z-index: 50;
  margin-top: 25px;
  /*border-bottom:1px solid #dfdfdf;*/
  /*	h1 {
  		color: $primary-color-light;
  		font-size: 30px;
  		font-weight: 300;
  		padding-top: 5px;
  		padding-left: 2px;
  		display: inline-block;
  		vertical-align: top;
  	}
  	p {
  		color: $primary-color-light;
  		font-size: 14px;
  		font-weight: 100;
  		display: block;
  		vertical-align: top;
  		padding-left: 54px;
  		margin-top: -6px;
  	}*/ }
  header ul {
    list-style: none;
    padding-left: 0; }
  header li {
    display: inline-block;
    vertical-align: top; }
  header img {
    width: 50px;
    height: 50px;
    display: inline-block; }

.header-wrap {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 100; }

.header-top {
  width: 1000px;
  height: 50px;
  margin: 0 auto; }

.top-header {
  width: 1000px;
  margin: 0px auto 0; }

.top-header-wrap {
  position: relative;
  width: 100%;
  margin-top: 5px; }

.header-left {
  display: inline-block;
  width: 50%;
  padding-top: 8px; }
  .header-left img {
    width: 35px;
    height: auto;
    display: inline-block;
    vertical-align: top;
    margin-top: 0px; }
  .header-left div {
    display: inline-block;
    vertical-align: top;
    padding-left: 5px;
    padding-top: 0px; }
  .header-left h1 {
    font-family: 'Lobster', cursive;
    font-size: 24px;
    color: #263238;
    font-weight: normal;
    display: inline-block;
    vertical-align: top;
    padding-top: 2px;
    padding-left: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  .header-left p {
    display: block;
    font-size: 12px;
    font-weight: 300; }

.header-top-right {
  display: inline-block;
  vertical-align: top;
  padding-top: 0px;
  position: fixed;
  z-index: 50; }
  .header-top-right ul {
    list-style: none;
    padding-left: 0; }
  .header-top-right li {
    display: inline-block;
    vertical-align: top;
    width: 40px;
    text-align: center; }
  .header-top-right span {
    font-size: 24px;
    color: #37474F; }
  .header-top-right p {
    font-size: 16px;
    font-weight: 300;
    color: #37474F;
    display: block;
    vertical-align: top;
    padding-left: 30px; }
  .header-top-right h1 {
    font-size: 14px;
    color: #37474F;
    display: block;
    vertical-align: top; }

.header-container {
  width: 1000px;
  height: 60px;
  margin: 0 auto;
  position: relative;
  z-index: 500;
  padding: 0 0px 0 15px; }

.logo {
  background: url("assets/images/logo_white_background.svg");
  background-size: contain;
  width: 210px;
  height: 30px;
  display: inline-block; }

.login-slideout-btn {
  color: #e5e5e5;
  background: #455A64; }

.toggle-slideout-dark {
  color: #263238;
  background: #CFD8DC; }

.header-buttons {
  position: fixed;
  top: 0;
  background: transparent;
  text-align: right;
  width: 100%;
  margin: 0 auto;
  z-index: 100;
  top: 20px;
  padding-right: 20px; }

/*Changed the header-login and header-button to the same class*/
.header-button {
  display: inline-block;
  width: 80px;
  height: 30px;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  text-align: center;
  font-size: 10px;
  font-weight: normal;
  padding-top: 9px;
  text-decoration: none;
  vertical-align: top;
  cursor: pointer; }

/*This just provides the .1 more opacity to the register link*/
.header-highlighted {
  background: rgba(255, 255, 255, 0.3); }

.header-register a,
.header-login a {
  text-decoration: none; }

.register-button {
  text-decoration: none;
  color: #FFF;
  margin-top: 10px;
  text-shadow: 1px 1px 7px #263238;
  font-size: 12px;
  font-weight: lighter; }

/* HOMEPAGE BANNER */
.header-search-wrap {
  background: transparent;
  background-size: cover;
  width: 100%;
  height: 0;
  margin: 0 auto;
  z-index: 400;
  position: fixed; }

.homepage-right {
  width: 350px;
  height: 60px;
  background: #222;
  float: right;
  margin: 0 auto;
  position: relative;
  display: inline-block;
  vertical-align: top; }

.header-right {
  float: right;
  height: 40px;
  position: relative;
  display: inline-block;
  vertical-align: top; }

/*.header-left {
	width: 600px;
	height: 60px;
	display: inline-block;
	vertical-align: top;
	background: transparent;
	margin-right: 10px;
	display: none;
}
*/
.header-banner {
  position: absolute;
  right: 0;
  top: 0px; }

.homepage-banner {
  width: 1000px;
  margin: 0 auto;
  position: relative;
  text-align: center; }

.search-container {
  margin: 0 auto;
  position: relative;
  width: 350px;
  text-align: right;
  display: inline-block;
  vertical-align: top;
  left: 0;
  z-index: 99999; }
  .search-container i {
    width: 15%;
    height: 60px;
    color: #4EB08F;
    background: rgba(0, 0, 0, 0.8);
    padding-top: 21px;
    text-align: right;
    font-size: 16px;
    display: none;
    transition: 250ms; }
  .search-container aside {
    width: 15%;
    height: 60px;
    background: rgba(0, 0, 0, 0.8);
    padding-top: 18px;
    /*padding-right: 5px;*/
    text-align: right;
    font-size: 16px;
    display: inline-block;
    transition: 250ms; }
    .search-container aside img {
      width: 25px;
      height: 25px; }
  .search-container input {
    width: 70%;
    height: 60px;
    padding: 15px 0;
    background: rgba(0, 0, 0, 0.8);
    color: #f8f8f8;
    font-size: 18px;
    border: 0;
    outline: 0;
    display: inline-block;
    transition: 250ms;
    font-weight: 300;
    text-indent: 15px;
    /*border-left: 1px solid #546E7A;*/
    vertical-align: top; }
  .search-container input::-webkit-input-placeholder {
    color: #d8d8d8; }
  .search-container li {
    display: inline-block;
    width: 15%;
    vertical-align: top; }

/* Search Dropdown */
.search-dropdown {
  width: 380px;
  left: 0;
  postion: relative; }
  .search-dropdown i {
    position: absolute;
    top: -5px;
    left: 15px;
    font-size: 16px;
    color: #f8f8f8; }

.search-span {
  background: #fff;
  color: #263238; }

.banner-container {
  width: 100%;
  height: 100vh;
  position: relative;
  padding-top: 150px;
  margin: 0 auto;
  top: 0;
  text-align: center;
  background: url("../assets/images/campus-2.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  .banner-container img {
    margin-bottom: 0px; }

.banner-header {
  width: 1000px;
  margin: 0 auto;
  height: 50px;
  padding-top: 20px;
  text-align: right;
  margin-bottom: 100px; }
  .banner-header nav {
    float: right; }
    .banner-header nav ul {
      padding-left: 0;
      list-style: none; }
    .banner-header nav li {
      display: inline-block;
      vertical-align: top;
      padding-left: 30px; }
      .banner-header nav li p {
        font-size: 18px;
        font-weight: 100;
        color: #fff;
        text-shadow: 1px 1px 3px #000; }
      .banner-header nav li span {
        display: inline-block;
        vertical-align: top;
        font-size: 18px;
        color: #fff;
        width: 30px;
        height: 30px;
        padding-top: 3px; }

.banner-slogan {
  position: relative;
  width: 800px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 15px;
  margin-top: 25px; }
  .banner-slogan p {
    font-size: 16px;
    line-height: 30px;
    font-weight: 100;
    color: #e5e5e5;
    display: block;
    vertical-align: top; }
  .banner-slogan h1 {
    font-size: 24px;
    line-height: 42px;
    font-weight: 300;
    font-style: italic;
    color: #e5e5e5;
    display: inline-block;
    vertical-align: top;
    text-transform: uppercase;
    padding-bottom: 15px;
    padding-top: 0px;
    text-shadow: 1px 1px 8px #000;
    padding-left: 25px;
    width: 80%; }
  .banner-slogan img {
    display: inline-block;
    width: 75px;
    height: 75px;
    vertical-align: top;
    margin-bottom: 25px;
    	/*opacity: 0.8;
        filter: alpha(opacity=80); /* For IE8 and earlier */ }

.banner-logo {
  display: inline-block;
  width: 50%;
  padding-top: 8px; }
  .banner-logo img {
    width: 60px;
    height: auto;
    display: inline-block;
    vertical-align: top;
    margin-top: 0px; }
  .banner-logo div {
    display: inline-block;
    vertical-align: top;
    padding-left: 5px;
    padding-top: 0px; }
  .banner-logo h1 {
    font-family: 'Lobster', cursive;
    font-size: 42px;
    color: #fff;
    font-weight: normal;
    display: inline-block;
    vertical-align: top;
    padding-top: 2px;
    padding-left: 5px;
    text-shadow: 1px 1px 5px #555;
    opacity: .8; }
  .banner-logo p {
    display: block;
    font-size: 12px;
    font-weight: 300; }

/*
  Set the color of the icon
*/
.banner-footer {
  width: 100%;
  height: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #455A64;
  text-align: center; }
  .banner-footer span {
    color: #455A64;
    font-size: 48px;
    margin-top: -31px; }

/*Copyright Info*/
.copyright-info {
  width: 1000px;
  margin: 0 auto;
  padding: 30px;
  border-top: 0;
  text-align: center;
  background: transparent;
  margin-bottom: 50px; }
  .copyright-info h1 {
    font-size: 12px;
    color: #555;
    font-weight: 300; }
  .copyright-info p {
    display: block;
    font-size: 12px;
    color: #555;
    font-weight: 400;
    padding-top: 10px; }

.copyright-info-light {
  width: 600px;
  margin: 0 auto;
  padding: 30px;
  border-top: 0;
  text-align: center;
  background: transparent;
  margin-bottom: 50px; }
  .copyright-info-light h1 {
    font-size: 12px;
    color: #f0f0f0;
    font-weight: 300; }
  .copyright-info-light p {
    display: block;
    font-size: 12px;
    color: #f0f0f0;
    font-weight: 400;
    padding-top: 10px; }

/* SEARCH CONTAINER */
.college-search {
  height: auto;
  width: 100%;
  font-weight: 300;
  position: relative;
  right: 0;
  border-top: 0;
  /*border-bottom: 2px solid #000;*/
  box-shadow: 0 0 30px -15px #000; }
  .college-search a aside,
  .college-search a section {
    display: inline-block;
    vertical-align: top;
    height: 60px;
    background: #f8f8f8;
    transition: 250ms; }
  .college-search a:hover aside,
  .college-search a:hover section {
    background: #0277BD; }
    .college-search a:hover aside h1,
    .college-search a:hover section h1 {
      color: #fff; }
  .college-search a aside {
    width: 15%;
    padding: 10px;
    background: #f8f8f8; }
    .college-search a aside img {
      width: 40px;
      height: 40px; }
    .college-search a aside:hover {
      /*background: $secondary-color-medium;*/ }
  .college-search a section {
    width: 85%;
    padding: 15px 10px;
    text-align: left; }
    .college-search a section span {
      display: inline-block;
      vertical-align: top;
      font-size: 14px;
      color: #e5e5e5;
      width: 10%;
      padding-top: 3px;
      text-align: center; }
    .college-search a section h1 {
      display: inline-block;
      vertical-align: top;
      font-size: 14px;
      color: #333;
      width: 90%;
      font-weight: 400; }

/* Login Container */
.slideout-container {
  right: -350px;
  width: 350px;
  position: fixed;
  height: 100vh;
  background: #e5e5e5;
  z-index: 700;
  transition: 250ms;
  padding-top: 30px;
  top: 0; }

.toggle-slideout {
  right: 0; }

.login-container {
  width: 100%;
  margin: 0 auto;
  padding: 30px;
  position: absolute;
  right: 0;
  transition: 250ms; }
  .login-container input {
    height: 45px;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 5px;
    background: #FFF;
    border: 1px solid #dfdfdf;
    outline: 0;
    font-size: 16px;
    font-weight: 300;
    text-indent: 15px;
    border-radius: 3px; }
  .login-container button {
    background: #EF5350;
    height: 35px;
    width: 30%;
    border: 0;
    outline: 0;
    font-size: 14px;
    color: #ECEFF1;
    border-radius: 3px;
    float: right;
    font-weight: 300; }
  .login-container label {
    font-size: 16px;
    text-align: left; }

.close-login {
  right: -350px; }

.slidesjs-previous,
.slidesjs-next,
.slidesjs-play,
.slidesjs-stop {
  font-size: 0px;
  padding-right: 5px;
  text-decoration: none;
  color: #263238;
  padding-top: 5px; }

.slidesjs-pagination {
  font-size: 0px;
  width: 100%;
  text-align: center;
  height: 30px;
  display: inline-block;
  vertical-align: top;
  float: right;
  padding-top: 10px;
  display: none; }

.slidesjs-navigation {
  width: 100%;
  text-align: center; }

.slidesjs-pagination-item {
  font-size: 0px;
  background-color: #263238;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  display: inline-block;
  margin-left: 3px; }

.slidejs-pagination-item .active {
  background: #37474F; }

.register-container {
  width: 100%;
  margin: 0 auto;
  padding: 30px;
  position: absolute;
  right: -350px;
  transition: 250ms; }
  .register-container input {
    height: 45px;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 5px;
    background: #FFF;
    border: 1px solid #dfdfdf;
    outline: 0;
    font-size: 16px;
    font-weight: 300;
    text-indent: 15px;
    border-radius: 3px; }
  .register-container button {
    background: #EF5350;
    height: 45px;
    width: 100%;
    border: 0;
    outline: 0;
    font-size: 16px;
    color: #e5e5e5;
    border-radius: 3px; }
  .register-container label {
    font-size: 16px;
    text-align: left; }

.open-register {
  right: 0; }

.register-btn,
.login-btn {
  font-size: 14px;
  padding-top: 10px;
  font-weight: 300; }

.input-label {
  width: 300px;
  text-align: left;
  margin: 0 auto;
  display: block;
  margin-top: 10px;
  font-size: 12px;
  color: #fff;
  text-shadow: 1px 1px 9px #263238; }

.select-user-type {
  display: block;
  margin: 0 auto;
  width: 300px;
  height: 45px;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-overflow: '';
  background: transparent;
  position: relative;
  z-index: 20;
  text-align: center;
  border: none;
  background: #e5e5e5;
  border-radius: 0;
  font-size: 16px;
  color: #263238;
  text-indent: 15px;
  margin-top: 4px; }

.select-user-type:focus {
  outline: 0;
  border: 0; }

/* Animated Hamburger Toggle */
.c-hamburger {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 60px;
  font-size: 0;
  text-indent: -9999px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  transition: background 0.3s; }

.c-hamburger:focus {
  outline: none; }

.c-hamburger span {
  display: block;
  position: absolute;
  top: 30px;
  left: 16px;
  right: 16px;
  height: 3px;
  background: white; }

.c-hamburger span::before,
.c-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #fff;
  content: ""; }

.c-hamburger span::before {
  top: -10px; }

.c-hamburger span::after {
  bottom: -10px; }

.c-hamburger--htx {
  background-color: rgba(0, 0, 0, 0.8); }

.c-hamburger--htx span {
  transition: background 0s 0.3s; }

.c-hamburger--htx span::before,
.c-hamburger--htx span::after {
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s, 0s; }

.c-hamburger--htx span::before {
  transition-property: top, transform; }

.c-hamburger--htx span::after {
  transition-property: bottom, transform; }

/* active state, i.e. menu open */
.c-hamburger--htx.is-active {
  background-color: #cb0032; }

.c-hamburger--htx.is-active span {
  background: none; }

.c-hamburger--htx.is-active span::before {
  top: 0;
  transform: rotate(45deg); }

.c-hamburger--htx.is-active span::after {
  bottom: 0;
  transform: rotate(-45deg); }

.c-hamburger--htx.is-active span::before,
.c-hamburger--htx.is-active span::after {
  transition-delay: 0s, 0.3s; }

.home-sidebar {
  position: fixed;
  width: 300px;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  left: -300px;
  top: 0;
  z-index: 100;
  transition: 250ms; }

.home-sidebar-open {
  position: fixed;
  top: 15px;
  padding-left: 8px;
  padding-top: 4px;
  color: #4EAE8F;
  font-size: 28px;
  z-index: 101;
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.1);
  margin-left: 15px;
  border-radius: 5px; }

.home-sidebar-close {
  position: fixed;
  top: 15px;
  padding-left: 8px;
  padding-top: 4px;
  color: #4EAE8F;
  font-size: 28px;
  z-index: 101;
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.1);
  margin-left: 15px;
  border-radius: 5px; }

.open-sidebar {
  left: 0; }

.hidden {
  display: none; }

/*Homepage Gallery*/
.homepage-gallery {
  width: 1000px;
  margin: 0 auto;
  padding-top: 150px; }
  .homepage-gallery ul {
    list-style: none;
    padding-left: 0; }
  .homepage-gallery li {
    display: inline-block;
    width: 270px;
    height: 200px;
    background: #fff; }
  .homepage-gallery li img {
    width: auto;
    height: 200px; }
  .homepage-gallery li:nth-child(4n) {
    margin-right: 0; }

.gallery-thumbnail {
  width: 100%;
  height: auto;
  overflow: hidden; }

.gallery-image {
  height: 300px;
  width: auto; }

.image-info {
  padding-top: 15px; }
  .image-info p {
    font-size: 12px;
    color: #333; }

.image-uploadedby {
  font-size: 12px;
  color: #555;
  display: inline-block; }

.image-uploadedby span {
  font-size: 12px;
  font-weight: bold;
  color: #333; }

.image-uploadedwhen {
  font-size: 12px;
  color: #999;
  display: inline-block;
  float: right; }

.image-likecount {
  color: #555;
  padding-top: 5px;
  display: inline-block; }

.image-rating {
  padding-top: 5px; }

/* Profile and School Templates */
.profile-body,
.school-body {
  width: 100%;
  margin: 0 auto;
  position: relative; }

.school-wrap-1 {
  width: 1000px;
  margin: 0 auto;
  position: relative;
  /*background: #fff;*/ }

.school-wrap-2 {
  width: 1000px;
  margin: 0 auto;
  background: #222;
  margin-bottom: 10px;
  /*margin-top:-10px;*/ }

.school-container {
  width: 1000px;
  margin: 0 auto; }

.profile-right-col,
.school-right-col {
  display: inline-block;
  width: 35%;
  position: relative;
  vertical-align: top;
  margin-top: 10px; }

.profile-small-col,
.school-small-col {
  display: inline-block;
  width: 240px;
  position: relative;
  vertical-align: top;
  background: #fff;
  margin-right: 10px; }

.featured-image {
  width: 100%;
  height: 200px;
  overflow: hidden;
  border: 0px solid #37474F; }
  .featured-image img {
    height: 100%; }

.school-full-column {
  width: 100%; }

.profile-left-col,
.school-left-col {
  display: inline-block;
  width: 65%;
  background: transparent;
  vertical-align: top;
  padding-top: 10px;
  padding-right: 10px; }

.profile-info-evenrow,
.profile-info-oddrow,
.school-info-evenrow,
.school-info-oddrow {
  background: #e5e5e5;
  width: 100%;
  height: 500px;
  position: relative; }

.school-info {
  background: #f8f8f8;
  display: inline-block;
  width: 100%;
  /*border:1px solid #dfdfdf;*/
  padding: 15px; }
  .school-info img {
    width: 60px;
    height: auto;
    display: inline-block;
    vertical-align: top;
    margin-top: 0px; }
  .school-info div {
    display: inline-block;
    vertical-align: top;
    padding-left: 10px; }
  .school-info h1 {
    font-family: 'Lobster', cursive;
    font-size: 20px;
    color: #37474F;
    display: inline-block;
    vertical-align: top;
    padding-top: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 225px; }
  .school-info p {
    display: block;
    font-size: 12px;
    font-weight: 300; }

.school-info-header {
  width: 100%;
  background: #f8f8f8;
  padding: 20px 0 0; }
  .school-info-header h1 {
    font-size: 14px;
    color: #333;
    font-weight: 700;
    text-transform: uppercase;
    border-bottom: 1px solid #f0f0f0;
    padding: 0 25px 10px; }

.school-info-list {
  width: 100%;
  background: #fff;
  /*border: 1px solid #dfdfdf;*/
  border-top: 0;
  height: 310px; }
  .school-info-list ul {
    list-style: none;
    padding-left: 0; }
  .school-info-list li {
    width: 100%;
    padding: 20px 25px;
    display: inline-block;
    background: #fff;
    /*border-bottom: 1px solid #f8f8f8;*/
    cursor: pointer; }
  .school-info-list li:nth-child(even) {
    background: #f8f8f8 !important; }
  .school-info-list li:last-child {
    border-bottom: 0; }
  .school-info-list span {
    display: inline-block;
    color: #0277BD;
    font-size: 14px;
    width: 5%;
    text-align: right; }
  .school-info-list p {
    display: inline-block;
    vertical-align: top;
    padding-left: 10px;
    font-size: 14px;
    color: #263238;
    font-weight: 300;
    width: 85%; }
  .school-info-list i {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    text-align: right;
    color: #8BC34A;
    width: 10%; }

.profile-heading {
  width: 100%;
  padding: 25px 30px 6px;
  background: #37474F;
  display: inline-block;
  height: 130px; }
  .profile-heading img {
    width: 60px;
    height: 60px;
    display: inline-block;
    margin-top: 12px; }
  .profile-heading h1 {
    color: #e5e5e5;
    font-size: 30px;
    font-weight: 300;
    padding-top: 14px;
    padding-left: 10px;
    display: inline-block;
    vertical-align: top; }
  .profile-heading p {
    color: #e5e5e5;
    font-size: 14px;
    font-weight: 300;
    display: block;
    vertical-align: top;
    padding-left: 72px;
    margin-top: -25px; }

.school-food,
.school-hotel {
  width: 100%;
  background: #fff;
  /*border: 1px solid #dfdfdf;*/
  border-bottom: 0; }
  .school-food ul,
  .school-hotel ul {
    list-style: none;
    padding-left: 0;
    /*border-bottom: 1px solid #FFF;*/ }
  .school-food li,
  .school-hotel li {
    display: inline-block;
    width: 100%;
    padding: 20px;
    border-bottom: 1px solid #f8f8f8;
    /*border-right:1px solid #f8f8f8;*/ }
  .school-food h1,
  .school-hotel h1 {
    font-size: 12px !important;
    padding-top: 15px;
    padding-left: 15px;
    font-weight: 300 !important; }

.school-map {
  margin-bottom: 10px;
  margin-top: 0px; }

.d3-map-popup section h1 {
  font-size: 14px;
  font-weight: 500;
  color: #333;
  display: block; }
.d3-map-popup section p {
  font-size: 12px;
  font-weight: 300;
  color: #333; }

.google-map-popup section h1 {
  font-size: 14px;
  font-weight: 500;
  color: #333;
  display: block; }
.google-map-popup section p {
  font-size: 12px;
  font-weight: 300;
  color: #333; }

.food-radius,
.hotel-radius {
  display: inline-block;
  width: 10%;
  height: 40px;
  text-align: center;
  background: #444;
  border-radius: 4px;
  padding-top: 8px; }
  .food-radius img,
  .hotel-radius img {
    width: 100%;
    height: 40px; }
  .food-radius h3,
  .hotel-radius h3 {
    font-size: 10px;
    padding-left: 0px;
    padding-top: 0px;
    display: block;
    vertical-align: top;
    font-weight: 300;
    color: #f0f0f0; }
  .food-radius span,
  .hotel-radius span {
    text-align: center;
    font-size: 18px;
    display: inline-block;
    vertical-align: top;
    color: #f0f0f0;
    font-weight: 300; }

.food-name,
.hotel-name {
  width: 75%;
  display: inline-block;
  vertical-align: top; }
  .food-name h2,
  .hotel-name h2 {
    font-size: 14px;
    color: #37474F;
    font-weight: normal;
    padding-bottom: 2px; }
  .food-name h4,
  .hotel-name h4 {
    font-size: 12px !important;
    /*font-style: italic;*/
    display: block;
    color: #263238;
    font-weight: 500;
    margin-top: 3px;
    margin-bottom: 3px; }
  .food-name p,
  .hotel-name p {
    font-size: 12px;
    line-height: 18px;
    /*font-style: italic;*/
    display: inline-block;
    color: #37474F;
    font-weight: 300; }
  .food-name a,
  .hotel-name a {
    color: #03A9F4;
    font-size: 12px;
    line-height: 18px;
    display: block;
    font-weight: 300; }
  .food-name img,
  .hotel-name img {
    width: 20px;
    height: auto;
    padding-left: 5px;
    display: inline-block;
    vertical-align: top; }
  .food-name div,
  .hotel-name div {
    display: inline-block;
    vertical-align: top;
    cursor: pointer; }

.food-phone,
.hotel-phone {
  width: 25%;
  display: inline-block;
  vertical-align: top;
  text-align: right; }
  .food-phone p,
  .hotel-phone p {
    font-size: 10px;
    color: #37474F;
    font-weight: 300;
    display: inline-block;
    vertical-align: top;
    padding-top: 4px;
    padding-left: 2px; }
  .food-phone i,
  .hotel-phone i {
    font-size: 14px;
    color: #FFC107;
    margin-top: 3px; }
  .food-phone span,
  .hotel-phone span {
    font-size: 14px;
    color: #333;
    font-weight: 400;
    display: inline-block; }
  .food-phone div,
  .hotel-phone div {
    display: block; }

/* School Instagram Gallery */
.instagram-gallery {
  width: 1000px;
  margin: 0 auto;
  padding-top: 30px; }
  .instagram-gallery li {
    width: 300px;
    height: auto;
    display: inline-block;
    vertical-align: top;
    margin-right: 50px;
    margin-bottom: 50px;
    position: relative; }
    .instagram-gallery li section {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      text-align: center;
      padding: 30px 20px 0;
      opacity: 0;
      transition: 500ms;
      background: rgba(0, 0, 0, 0.8); }
      .instagram-gallery li section p,
      .instagram-gallery li section span {
        font-size: 16px;
        color: #f0f0f0;
        display: inline-block;
        vertical-align: top; }
      .instagram-gallery li section p {
        padding-right: 3px; }
      .instagram-gallery li section span {
        padding-left: 3px;
        padding-top: 2px;
        color: #F44336; }
      .instagram-gallery li section h1 {
        font-size: 14px;
        color: #f0f0f0;
        margin-bottom: 10px; }
      .instagram-gallery li section h2 {
        font-size: 14px;
        color: #f0f0f0;
        font-weight: 300;
        margin-top: 10px; }
      .instagram-gallery li section h3 {
        font-size: 12px;
        color: #f0f0f0;
        font-weight: 400;
        margin-top: 10px; }
  .instagram-gallery li:nth-child(3n) {
    margin-right: 0px; }
  .instagram-gallery img {
    width: 100%;
    display: inline-block;
    vertical-align: top;
    height: auto; }
  .instagram-gallery img:nth-child(3n) {
    margin-right: 0; }
  .instagram-gallery li:hover section {
    opacity: 1; }

.instagram-gallery li:hover .instagram-overlay {
  display: inline-block; }

.school-heading {
  width: 100%;
  display: inline-block;
  height: auto;
  margin-top: 0px;
  /*background:#f0f0f0;*/
  /*padding:10px;*/ }
  .school-heading img {
    width: 100%;
    height: auto;
    display: inline-block; }
  .school-heading section {
    position: absolute;
    top: 285px;
    z-index: 100;
    left: 40px; }
    .school-heading section h1 {
      font-family: 'Lobster', cursive;
      font-size: 24px;
      color: #f8f8f8;
      display: inline-block;
      vertical-align: top;
      padding-top: 10px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100%;
      text-shadow: 1px 1px 5px #000; }
    .school-heading section p {
      display: block;
      font-size: 12px;
      font-weight: 300;
      color: #f0f0f0;
      text-shadow: 1px 1px 5px #000; }

.school-stats,
.school-stats2 {
  width: 1000px;
  margin: 0 auto;
  font-size: 0;
  background: #f8f8f8;
  padding: 10px 0; }
  .school-stats li,
  .school-stats2 li {
    width: 33.333333%;
    text-align: left;
    display: inline-block;
    vertical-align: top;
    padding: 25px 30px; }
    .school-stats li section,
    .school-stats li aside,
    .school-stats2 li section,
    .school-stats2 li aside {
      display: inline-block;
      vertical-align: top; }
    .school-stats li section,
    .school-stats2 li section {
      width: 75%; }
    .school-stats li aside,
    .school-stats2 li aside {
      width: 25%;
      text-align: right;
      padding-top: 3px;
      padding-right: 10px; }
    .school-stats li h1,
    .school-stats2 li h1 {
      display: block;
      font-size: 18px;
      font-weight: 500;
      width: 100%;
      color: #333; }
    .school-stats li p,
    .school-stats2 li p {
      width: 100%;
      font-size: 14px;
      font-weight: 300;
      color: #555;
      margin-top: 5px;
      line-height: 18px; }
    .school-stats li span,
    .school-stats2 li span {
      font-size: 18px;
      color: #0277BD; }

.school-stats {
  margin-top: 10px; }

.school-stats2 {
  border-bottom: 0; }

.school-options-dropdown {
  background: #fff;
  border-radius: 3px;
  border: 1px solid #dfdfdf; }
  .school-options-dropdown section,
  .school-options-dropdown aside {
    display: inline-block;
    vertical-align: top;
    height: 35px; }
  .school-options-dropdown section {
    text-align: left;
    padding: 7px 15px 0; }
    .school-options-dropdown section h1 {
      font-size: 14px;
      font-weight: 400;
      color: #333; }
  .school-options-dropdown aside {
    padding: 10px 15px 0;
    background: #f8f8f8;
    /*border-left: 1px solid #d8d8d8;*/
    border-radius: 0 3px 3px 0px; }
    .school-options-dropdown aside i {
      font-size: 14px;
      color: #ccc; }

.school-options1 {
  width: 65%;
  /*background:#444;*/
  z-index: 1000;
  /*padding-right: 10px;*/
  /*margin-bottom: 15px;*/
  display: inline-block;
  vertical-align: top;
  z-index: 99999999999; }
  .school-options1 li {
    width: 20%;
    display: inline-block;
    background: #222;
    color: #263238;
    text-align: left;
    padding: 15px 10px;
    height: 60px;
    font-weight: 300;
    border-left: 1px solid #333;
    border-right: 1px solid #181818;
    cursor: pointer;
    text-align: center; }
  .school-options1 li:hover {
    background: #353535; }
  .school-options1 p {
    font-size: 12px;
    display: inline-block;
    vertical-align: top;
    text-transform: uppercase;
    color: #e5e5e5;
    font-weight: 700; }
  .school-options1 h1 {
    font-size: 10px;
    font-weight: 300;
    line-height: 16px;
    color: #e5e5e5;
    margin-top: 3px;
    /*text-transform: uppercase;*/ }
  .school-options1 span {
    width: 35px;
    height: 35px;
    margin: 0 auto;
    border-radius: 2px;
    font-size: 16px;
    display: inline-block;
    vertical-align: top;
    color: #ccc;
    background: #444;
    text-align: center;
    padding-top: 8px;
    display: none; }
  .school-options1 li:last-child {
    border-right: 0; }
  .school-options1 li:first-child {
    border-left: 0; }
  .school-options1 i {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    text-align: right;
    color: #8BC34A;
    font-size: 14px; }

.school-options-mobile {
  display: none; }

.module-header {
  width: 100%;
  background: #fafafa;
  padding: 20px;
  /*border: 1px solid #dfdfdf;*/
  border-bottom: 0;
  margin-top: 0px; }
  .module-header input {
    height: 60px;
    background: ccc;
    border: 0;
    width: 100%; }
  .module-header img {
    height: 25px;
    width: auto;
    margin-right: 5px;
    display: inline-block;
    vertical-align: top; }
  .module-header p {
    color: #263238;
    font-size: 14px;
    font-weight: 400;
    display: inline-block;
    vertical-align: top; }
  .module-header span {
    display: inline-block;
    vertical-align: top;
    padding: 5px 10px 0;
    font-size: 12px;
    color: #0277BD; }
  .module-header a {
    color: #03A9F4;
    font-size: 14px;
    text-decoration: none;
    float: right;
    padding-top: 5px;
    font-weight: 300; }

.header-breadcrumbs {
  width: 100%;
  background: #333;
  padding: 20px;
  /*border: 1px solid #dfdfdf;*/
  /*border-top: 0;*/
  border-right: 0;
  margin-top: 0px;
  display: none;
  vertical-align: top; }
  .header-breadcrumbs p {
    color: #e5e5e5;
    font-size: 14px;
    font-weight: 300;
    display: inline-block;
    vertical-align: top; }
  .header-breadcrumbs span {
    display: inline-block;
    vertical-align: top;
    padding: 5px 10px 0;
    font-size: 12px;
    color: #03A9F4; }
  .header-breadcrumbs a {
    color: #03A9F4;
    font-size: 14px;
    text-decoration: none;
    float: right;
    padding-top: 5px;
    font-weight: 300; }

.food-search {
  background: #fff;
  /*border:1px solid #dfdfdf;*/
  border-bottom: 0;
  width: 100%;
  /*margin-top:15px;*/
  /*margin-bottom:15px;*/ }
  .food-search span {
    display: inline-block;
    width: 12%;
    text-align: right;
    font-size: 16px;
    padding-top: 20px;
    color: #999;
    padding-right: 5px; }
  .food-search input {
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    height: 65px;
    font-weight: 300;
    text-indent: 5px;
    background: transparent;
    width: 68%;
    border: 0; }
    .food-search input:focus {
      outline: 0; }
  .food-search button {
    width: 15%;
    height: 35px;
    background: #0277BD;
    font-size: 12px;
    font-weight: 300;
    color: #e5e5e5;
    outline: 0;
    border: 0;
    border-radius: 4px;
    margin-top: 15px; }

.food-popular-searches,
.food-filter {
  padding: 15px 25px;
  background: #fff;
  /*border:1px solid #dfdfdf;*/
  border-bottom: 0; }
  .food-popular-searches div,
  .food-filter div {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    padding: 5px; }
    .food-popular-searches div input,
    .food-filter div input {
      margin-top: 5px; }
    .food-popular-searches div h1,
    .food-filter div h1 {
      font-size: 16px;
      font-weight: normal;
      padding-bottom: 10px; }
    .food-popular-searches div p,
    .food-filter div p {
      font-size: 14px;
      padding-left: 10px;
      display: inline-block;
      vertical-align: top;
      font-weight: 300; }

.no-results {
  font-size: 14px; }

.filter-submit {
  width: 100%;
  /*padding: 0px 15px 15px;*/ }

.clear-filter {
  width: 100%;
  display: inline-block;
  vertical-align: top;
  background: #fff;
  /*border: 1px solid #dfdfdf;*/
  text-align: center;
  padding: 15px 20px;
  cursor: pointer;
  margin-top: 10px; }
  .clear-filter i {
    display: inline-block;
    vertical-align: top;
    color: #ff0000;
    font-size: 14px;
    padding-right: 5px;
    padding-top: 1px; }
  .clear-filter p {
    font-size: 14px;
    display: inline-block;
    vertical-align: top;
    color: #263238;
    font-weight: 700; }

.view-all {
  width: 100%;
  border-top: 0;
  background: #f8f8f8;
  text-align: center;
  padding: 15px 0;
  margin-bottom: 25px; }
  .view-all a {
    font-size: 16px;
    color: #263238;
    font-weight: 400;
    text-decoration: none;
    padding: 5px 15px;
    border: 1px solid #d8d8d8;
    border-left: 0;
    cursor: pointer;
    background: #f0f0f0; }
  .view-all a:first-child {
    border-left: 1px solid #d8d8d8; }
  .view-all div {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px; }

.view-all-dark {
  width: 100%;
  border-top: 1px solid #455A64;
  background: #37474F;
  text-align: center;
  padding: 15px 0;
  margin-bottom: 25px; }
  .view-all-dark a {
    font-size: 16px;
    color: #03A9F4;
    text-decoration: none;
    font-weight: 300; }

/* Sports Schedules */
.sports-schedule {
  width: 100%;
  color: #263238;
  background: #e5e5e5;
  padding: 15px 0; }
  .sports-schedule ul {
    list-style: none;
    padding-left: 0; }
  .sports-schedule li {
    width: 100%;
    padding: 10px 25px; }
  .sports-schedule h1 {
    display: inline-block;
    width: 20%;
    vertical-align: top;
    font-weight: 300;
    font-size: 12px; }
  .sports-schedule p {
    display: inline-block;
    width: 60%;
    vertical-align: top;
    font-weight: 500;
    font-size: 12px; }
  .sports-schedule span {
    display: inline-block;
    width: 20%;
    vertical-align: top;
    font-style: italic;
    font-weight: 300;
    font-size: 12px; }

.school-ad {
  width: 100%;
  background: #e5e5e5;
  height: 100px;
  margin-top: 10px;
  text-align: center; }
  .school-ad p {
    font-size: 36px;
    text-align: center;
    color: #333; }
  .school-ad span {
    font-size: 36px;
    color: #e5e5e5;
    position: relative;
    /* left: 0; */
    margin: 0 auto;
    top: 0;
    z-index: 1000000;
    /* vertical-align: bottom; */
    margin-top: -23px; }

.school-photos {
  width: 100%;
  position: relative;
  background: #263238; }
  .school-photos li {
    width: 100%;
    height: auto;
    /*background:#37474F;*/
    display: inline-block;
    /*padding:15px;*/ }
  .school-photos li:nth-child(3n) {
    border-right: 0; }
  .school-photos img {
    width: 100%;
    height: auto; }

.map-options {
  background: #444;
  padding: 10px; }
  .map-options li {
    width: 100%;
    padding: 10px 15px; }
  .map-options label {
    padding-left: 10px;
    color: #e5e5e5;
    font-size: 12px;
    font-weight: 400; }

.map-sidebar {
  width: 20%;
  display: none;
  vertical-align: top;
  background: #333;
  height: 100vh;
  overflow: scroll;
  padding-top: 10px; }
  .map-sidebar li {
    text-align: center;
    padding: 10px; }
    .map-sidebar li p {
      font-size: 14px;
      color: #fff; }

.home-about {
  width: 100%;
  padding: 30px 200px 100px;
  text-align: center; }
  .home-about h1 {
    font-size: 28px;
    color: #333; }
  .home-about p {
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
    margin-top: 10px;
    color: #333; }

.school-previews {
  width: 100%; }
  .school-previews li {
    width: 50%;
    position: relative;
    display: inline-block;
    vertical-align: top;
    height: 600px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    transition: 250ms; }
    .school-previews li section {
      width: 100%;
      height: 100%;
      text-align: center;
      padding: 100px 50px 0;
      opacity: 0;
      transition: 500ms;
      background: rgba(0, 0, 0, 0.5); }
      .school-previews li section h1 {
        font-size: 28px;
        font-weight: 400;
        color: #fff; }
      .school-previews li section h2 {
        font-size: 20px;
        font-weight: 300;
        margin-top: 5px;
        color: #fff; }
      .school-previews li section p {
        font-size: 16px;
        line-height: 24px;
        font-weight: 300;
        color: #fff;
        margin-top: 15px;
        margin-bottom: 30px; }
      .school-previews li section a {
        margin-top: 15px;
        text-transform: uppercase;
        color: #FFF;
        border-top: 3px solid #4EAE8F;
        border-bottom: 3px solid #4EAE8F;
        font-size: 20px;
        font-family: serif;
        padding: 5px 15px; }
  .school-previews li:hover section {
    opacity: 1; }
  .school-previews li:first-child {
    background: url("../assets/images/campus-2.jpg") no-repeat center center; }
  .school-previews li:nth-child(2) {
    background: url("../assets/images/Duke-University-Duke-Chapel.jpg") no-repeat center center; }
  .school-previews li:nth-child(3) {
    background: url("../assets/images/campus-3.jpg") no-repeat center center; }
  .school-previews li:nth-child(4) {
    background: url("../assets/images/campus-1.jpg") no-repeat center center; }

#map-contain {
  width: 100%;
  display: inline-block;
  vertical-align: top;
  padding: 100px 30px; }

#circles, #circles a:visited {
  fill: #58AE8C;
  fill-opacity: .8;
  stroke: #fff;
  opacity: 1; }

.hidden {
  display: none; }

#filter-accordion {
  width: 100%; }
  #filter-accordion section {
    background: #f8f8f8; }
  #filter-accordion article {
    /*padding: 0 25px 25px;*/
    /*border-top: 1px solid #f5f5f5;*/ }
  #filter-accordion aside {
    font-size: 14px;
    border: 0;
    background: #f8f8f8;
    width: 100%;
    padding: 25px;
    text-align: left;
    outline: 0;
    /*border-bottom:1px solid #d8d8d8;*/
    /*border-top:1px solid #f5f5f5;*/
    font-weight: 300;
    cursor: pointer;
    color: #263238; }
  #filter-accordion aside:last-child {
    border-bottom: 0; }
  #filter-accordion i {
    display: inline-block;
    vertical-align: top;
    width: 19%;
    text-align: right; }
  #filter-accordion h1 {
    font-size: 16px;
    font-weight: normal;
    width: 80%;
    display: inline-block;
    vertical-align: top; }
  #filter-accordion aside:hover {
    /*background: #f8f8f8;*/ }
  #filter-accordion button:hover {
    /*background: #fafafa;*/ }
  #filter-accordion button:last-child {
    /*border-bottom: 1px solid #dfdfdf;*/ }

.filter-accordion-mobile {
  display: none; }

.submit-food-filter {
  width: 15%;
  height: 35px;
  background: #0277BD;
  font-size: 12px;
  font-weight: 300;
  color: #e5e5e5;
  outline: 0;
  border: 0;
  border-radius: 4px;
  margin-top: 15px; }

/* Footer */
/* Media Queries */
@media screen and (min-width: 350px) and (max-width: 700px) {
  header {
    margin-top: 0;
    display: none; }

  .header-container {
    width: 100%;
    padding: 0; }

  .header-left {
    width: 100%;
    padding-top: 30px;
    text-align: center; }
    .header-left img {
      display: block;
      width: 50px;
      margin: 0 auto; }
    .header-left div {
      margin-top: 10px; }
    .header-left h1 {
      padding-left: 0; }

  .header-right,
  .homepage-right {
    width: 100%; }

  .top-header-wrap {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
    margin-top: 0;
    /*top: 80px;*/ }

  .header-breadcrumbs {
    width: 100%; }

  .top-header {
    width: 100%; }

  .module-header {
    border-top: 0; }

  .school-options1 {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-bottom: 0; }
    .school-options1 span {
      display: inline-block; }
    .school-options1 p {
      display: none; }
    .school-options1 h1 {
      display: none; }

  .school-body {
    width: 100%;
    top: 57px; }

  .school-left-col {
    width: 100%;
    padding-right: 0; }

  .school-right-col {
    width: 100%; }

  .food-name,
  .hotel-name {
    width: 75%; }

  .food-radius,
  .hotel-radius {
    width: 15%; }

  .instagram-gallery {
    width: 100%;
    padding-bottom: 15px; }
    .instagram-gallery li {
      width: 100%; }
    .instagram-gallery img {
      width: 100%;
      margin: 0;
      padding: 15px 15px 0; }

  .school-previews li {
    width: 100%;
    height: 400px; }
    .school-previews li p {
      display: none; }
    .school-previews li h2 {
      margin-bottom: 25px; }

  .home-about {
    padding: 100px 20px 30px;
    text-align: center; }

  #map-contain {
    padding: 100px 0px 0; }

  .banner-slogan,
  .banner-header,
  .homepage-banner {
    width: 100%; }

  .search-container {
    width: 100%;
    margin: 0 auto;
    z-index: 999999999; }
    .search-container input {
      width: 70%; }

  .homepage-banner {
    padding: 0 20px; }

  .banner-slogan h1 {
    font-size: 24px;
    display: none; }

  .banner-container {
    background: url("../assets/images/campus-3.jpg") no-repeat center center;
    padding-top: 100px; }

  .banner-header {
    text-align: center;
    display: none; }
    .banner-header nav {
      text-align: center;
      float: none; }
      .banner-header nav li {
        padding: 0 15px; }
    .banner-header nav li:last-child {
      display: none; }

  .school-heading section {
    top: 75px;
    width: 100%;
    text-align: center;
    left: 0; }
    .school-heading section h1 {
      font-size: 32px; }

  .school-stats {
    width: 100%;
    padding: 30px 20px 30px;
    margin-top: -10px;
    margin-bottom: 50px; }
    .school-stats li {
      width: 100%; }
      .school-stats li section {
        width: 85%; }
      .school-stats li aside {
        width: 15%; }

  .school-left-col,
  .school-right-col {
    padding-top: 0;
    width: 100%; }

  .school-right-col {
    position: fixed;
    right: -100%;
    transition: 250ms;
    z-index: 99999;
    top: 50px;
    background: #fff;
    height: 100vh;
    box-shadow: 0 0 30px -15px #000; }

  .school-right-col-shift {
    right: 0;
    transition: 250ms; }

  .school-body-shift {
    position: fixed;
    left: -100%;
    transition: 250ms; }

  body {
    background: #fff; }

  .school-wrap-2,
  .school-wrap-1,
  .school-container {
    width: 100%; }

  .listing-container {
    height: 100%; }

  #nav-toggle {
    display: inline-block; }

  .banner-logo {
    width: 100%; }
    .banner-logo img {
      width: 100px;
      height: auto;
      margin-bottom: 15px; }
    .banner-logo div {
      display: block; }

  .copyright-info {
    width: 100%;
    padding-bottom: 100px; } }

/*# sourceMappingURL=main.css.map */
